<section class="address-store-form">
  <div class="address-store-form__wrapper">

    <!-- Encabezado -->
    <header class="address-store-form__header">
      <h2 class="address-store-form__title">Añade la dirección de la tienda</h2>
      <p class="address-store-form__subtitle">
        Este formulario es para registrar <br>
        tu tienda en <strong>SENA MERCH</strong>.
        Con tu perfil podrás publicar productos y gestionar tus ventas fácilmente.
      </p>
    </header>

    <!-- FORMULARIO -->
    <form class="address-store-form__form">

      <!-- Barrio -->
      <div class="address-store-form__group">
        <label class="address-store-form__label">Barrio</label>
        <input 
          type="text"
          placeholder="Ingresa tu barrio"
          class="address-store-form__input"
          required
        >
      </div>

      <!-- Número de dirección -->
      <div class="address-store-form__group">
        <label class="address-store-form__label">Número de dirección</label>
        <input 
          type="text"
          placeholder="Ejemplo: #25A - 45"
          class="address-store-form__input"
          required
        >
      </div>

      <!-- Tipo de vía -->
      <div class="address-store-form__group">
        <label class="address-store-form__label">Tipo de vía</label>
        <input 
          type="text"
          placeholder="Ejemplo: Calle, Carrera, Avenida"
          class="address-store-form__input"
        >
      </div>

      <!-- Código postal -->
      <div class="address-store-form__group">
        <label class="address-store-form__label">Código postal</label>
        <input 
          type="text"
          placeholder="Ejemplo: 110111"
          class="address-store-form__input"
        >
      </div>

      <!-- Botón Volver -->
      <div class="address-store-form__secondary">
        <button
          type="button"
          class="btn-secundary btn-secundary-style"
        >
          Volver
          <img src="/frontend/public/assets/icons/edit.svg" class="btn-secundary__icon">
        </button>
      </div>

      <!-- Botón Siguiente -->
      <div class="address-store-form__buttons">
        <button type="submit" class="btn btn--primary">
          Siguiente
          <img src="/frontend/public/assets/icons/continue.svg" class="btn__icon">
        </button>
      </div>

    </form>
  </div>
</section>
