<form class="address-form">
  <h2 class="address-form__title">Añade tu dirección</h2>

  <input type="text" placeholder="Barrio" name="barrio" class="address-form__input">
  <input type="text" placeholder="Número de dirección" name="numero" class="address-form__input">
  <input type="text" placeholder="Tipo de vía" name="via" class="address-form__input">
  <input type="text" placeholder="Código postal" name="codigo" class="address-form__input">
  <input type="text" placeholder="Departamento" name="departamento" class="address-form__input">
  <input type="text" placeholder="Municipio" name="municipio" class="address-form__input">
  <input type="text" placeholder="Información adicional" name="info" class="address-form__input">
  <a href="register.html" class="btn btn--primary">Registrar</a>
</form>
