<section class="admin-code-panel">
  <div class="admin-code-panel__container">
    <div class="admin-code-panel__content">
      <h1 class="admin-code-panel__title">Validación de Código</h1>
      <p class="admin-code-panel__text">Introduce el código secreto de administrador para continuar.</p>

      <form class="admin-code-panel__form">
        <div class="admin-code-panel__field">
          <label class="admin-code-panel__label">Código de ingreso</label>
          <input type="password" class="admin-code-panel__input" placeholder="Ingresa el código" required>
        </div>
        <div class="admin-code-panel__action">
          <button type="submit" class="btn btn--primary  admin-code-panel__get-into ">Validar código
            <img src="/frontend/public/assets/icons/validation-check.svg" alt="Icono Comprar" class="admin-code-panel__icon">
          </button>
        </div>
      </form>

      <p class="admin-code-panel__message admin-code-panel__message--hidden"></p>
    </div>
  </div>
</section>
