<main class="admin-profile">
  <section class="admin-profile__card">
    <div class="admin-profile__header">
      <div class="admin-profile__avatar">
        <img src="/frontend/public/assets/img/admin_profile.png" alt="Foto del administrador">
      </div>
      <div class="admin-profile__info">
        <h1 class="admin-profile__name">Juan Pérez</h1>
        <p class="admin-profile__role">Administrador del sistema</p>
      </div>
    </div>

    <div class="admin-profile__details">
      <div class="admin-profile__field">
        <span class="admin-profile__label">Correo electrónico:</span>
        <span class="admin-profile__value">juanperez@empresa.com</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Departamento:</span>
        <span class="admin-profile__value">Risaralda</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Dirección:</span>
        <span class="admin-profile__value">Calle 10 #15-23, Pereira</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Contraseña:</span>
        <span class="admin-profile__value">************</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Último acceso:</span>
        <span class="admin-profile__value">30 de octubre de 2025, 08:45 AM</span>
      </div>
    </div>

    <div class="admin-profile__actions-grid">
      <div class="admin-profile__actions-secondary">
        <a href="login.html" class="btn btn-variant2--secondary admin-profile__gestor">Cerrar Sesión
          <img src="/frontend/public/assets/icons/home.svg" alt="Icono Comprar" class="admin-profile__icon-secundary">
        </a>
      </div>

      <div class="admin-profile__actions-primary">
        <a href="edit_admin_profile_view.html" class="btn btn--primary admin-profile__save">Editar datos
          <img src="/frontend/public/assets/icons/edit.svg" alt="Icono Comprar" class="admin-profile__icon">
        </a>
      </div>
    </div>
  </section>
</main>
