<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de Verduras</title>
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/components/card.css">

</head>
<body>
  <main class="contenedor">
    <h1>Mi card</h1>

    <div class = "card"></div>
       <div class="producto">
          <img class="producto__imagen" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="producto__informacion">
              <p class="producto__nombre">Tomate</p>
              <p class="producto__precio">3000</p>
                <button class="boton__primario">Comprar</button>
          </div>
        </div> <!-- Terminación de Card-->

        <div class="producto">
          <img class="producto__imagen" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="producto__informacion">
              <p class="producto__nombre">Banano</p>
              <p class="producto__precio">3000</p>
                <button class="boton__primario">Comprar</button>
          </div>
        </div> <!-- Terminación de Card-->

        <div class="producto">
          <img class="producto__imagen" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="producto__informacion">
              <p class="producto__nombre">Lechuga</p>
              <p class="producto__precio">3000</p>
                <button class="boton__primario">Comprar</button>
          </div>
        </div> <!-- Terminación de Card-->

        <div class="producto">
          <img class="producto__imagen" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="producto__informacion">
              <p class="producto__nombre">Cafe</p>
              <p class="producto__precio">3000</p>
                <button class="boton__primario">Comprar</button>
          </div>
        </div> <!-- Terminación de Card-->

        <div class="producto">
          <img class="producto__imagen" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="producto__informacion">
              <p class="producto__nombre">Zanahoria</p>
              <p class="producto__precio">3000</p>
                <button class="boton__primario">Comprar</button>
          </div>
        </div> <!-- Terminación de Card-->

        <div class="producto">
          <img class="producto__imagen" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="producto__informacion">
              <p class="producto__nombre">Pepino</p>
              <p class="producto__precio">3000</p>
                <button class="boton__primario">Comprar</button>
          </div>
        </div> <!-- Terminación de Card-->
  </main>

</body>
</html>


