<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de Verduras</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<main class="main">
  <section class="products">
    <article class="card-product">
      <img src="/frontend/public/img/image.png" alt="Tomates" class="card-product__image">
      <div class="card-product__content">
        <h2 class="card-product__title">Kilo Tomate</h2>
        <p class="card-product__price">3.000$</p>
        <button class="card-product__button card-product__button--buy">Comprar</button>
      </div>
    </article>
  </section>
</main>
</body>
</html>


