<section class="verify">
  <div class="verify__container">
    <h1 class="verify__title">Verifica tu identidad</h1>
    <p class="verify__text">
      Hemos enviado un código de 6 dígitos a tu correo electrónico. Ingrésalo a continuación para continuar con el proceso.
    </p>

    <form class="verify__form" action="reset_password.html">
      <div class="verify__fields">
        <input type="text" maxlength="1" class="verify__input" required>
        <input type="text" maxlength="1" class="verify__input" required>
        <input type="text" maxlength="1" class="verify__input" required>
        <input type="text" maxlength="1" class="verify__input" required>
        <input type="text" maxlength="1" class="verify__input" required>
        <input type="text" maxlength="1" class="verify__input" required>
      </div>
      
      <div class="verify__button">
        <button type="submit" class="btn btn--primary verify__submit">
          Enviar código
          <img src="/frontend/public/assets/icons/continue.svg" alt="Icono Enviar" class="btn__icon">
        </button>
      </div>
    </form>

    <a href="forgot_password.html" class="verify__link">Reenviar código</a>
  </div>
</section>