<aside class="comments-users-sidebar">

  <div class="comments-users-sidebar__header">
    <a href="#" class="product-card__menu-item" data-action="open-comments">
        Dejar un comentario
    </a>
    <button type="button" class="comments-users-sidebar__close-btn">
      ✕
    </button>
  </div>

  <div class="comments-users-sidebar__body">

    <label class="comments-users-sidebar__label">
      Escribe tu comentario
    </label>

    <textarea 
      class="comments-users-sidebar__textarea"
      placeholder="Cuéntanos tu opinión..."
    ></textarea>

    
    <div class="comments-users-sidebar__actions">
      <button type="button" class="btn btn--primary comments-users-sidebar__pay">
        Enviar comentario
        <img 
            src="/frontend/public/assets/icons/contact.svg"
            alt="Icono Comprar"
            class="btn__icon comments-users-sidebar__icon"
        />
      </button>
    </div>

  </div>

</aside>
