<section class="create-store">
  <div class="create-store__wrapper">
    <header class="create-store__header">
      <h1 class="create-store__title">Crear Tienda</h1>
      <p class="create-store__subtitle">
        Completa el formulario para registrar tu tienda en <strong>SENA MERCH</strong>.
        Con tu perfil podrás publicar productos y gestionar tus ventas fácilmente.
      </p>
    </header>

    <form class="create-store__form">
      <div class="create-store__group">
        <label class="create-store__label">Dirección de la tienda</label>
        <a href="add_adress.html" class="create-store__link">Agregar dirección</a>
      </div>

      <div class="create-store__group">
        <label class="create-store__label">Información propietario</label>
        <a href="view_store_admin_form.html" class="create-store__link">Agregar La información del propietario</a>
      </div>


      <div class="create-store__group create-store__group--full">
        <label class="create-store__label">Descripción</label>
        <textarea class="create-store__input" rows="4" placeholder="Escribe una breve descripción de tu tienda..." required></textarea>
      </div>

      <div class="create-store__group create-store__group--full">
        <label class="create-store__label">Imagen de portada</label>
        <input type="file" class="create-store__input" accept="image/*">
      </div>

      <div class="create-store__secondary">
          <button
            type="button"
            class="btn-secundary btn-secundary-style create-store__gestor"
            aria-label="Cancelar edición"
          >
            Volver
            <img
              src="/frontend/public/assets/icons/cancel.svg"
              alt=""
              class="btn-secundary__icon"
              aria-hidden="true"
            />
          </button>
        </div>

      <div class="create-store__buttons">
          <button class="btn btn--primary create-store__continue">
            Crear tienda
            <img src="/frontend/public/assets/icons/contact.svg" alt="Icono suspender usuario" class="btn__icon">
          </button>
        </div>
    </form>
  </div>
</section>
