 <main class="container">
  <div class="product-detail">
    <div class="card">
      <div class="product">
        <img class="product__image" src="/frontend/public/assets/img/tomato_image.png" alt="imagen leche">
        <div class="product__information">
          <p class="product__name">Tomate</p>
          <p class="product__price">3.000$</p>
          <button class="btn btn--primary">Comprar</button>
        </div>
      </div>
    </div> 
    <!-- Caja de descripción -->
    <div class="product-description">
      <h2 class="product-description__heading">Descripción de producto</h2>
      <p class="product-description__text">
        Su sabor varía desde dulce hasta ligeramente ácido, dependiendo de la variedad y el grado de madurez. 
        Es uno de los ingredientes más versátiles y comunes en la cocina mundial, utilizado en ensaladas, salsas, guisos, jugos y conservas.
      </p>
      <p class="product-description__note">Sin garantía</p>
    </div>
  </div>
</main>
