<section class="edit-store-seller-one">
  <h2 class="edit-store-seller-one__title">Editar datos de la tienda</h2>

  <form class="edit-store-seller-one__form">
    <!-- Nombre de la tienda -->
    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Nombre de la tienda</label>
      <input type="text" class="edit-store-seller-one__input" placeholder="Ej: Tienda Verde" required>
    </div>

    <!-- Correo -->
    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Correo electrónico</label>
      <input type="email" class="edit-store-seller-one__input" placeholder="correo@tienda.com" required>
    </div>

    <!-- Teléfono -->
    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Teléfono</label>
      <input type="tel" class="edit-store-seller-one__input" placeholder="+57 300 000 0000" required>
    </div>

    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Categoría</label>
      <select class="edit-store-seller-one__input" required>
        <option value="">Selecciona una categoría</option>
        <option value="Frutas">Frutas</option>
        <option value="Verduras">Verduras</option>
        <option value="Lácteos">Lácteos</option>
        <option value="Lácteos">Granos</option>
        <option value="Todas">Todas</option>
      </select>
    </div>
    <!-- Botones -->
    <div class="edit-store-seller-one__secondary">
      <a href="profile_store_seller.html" class="btn btn-variant2--secondary edit-store-seller-one__cancel">Cancelar
        <img src="/frontend/public/assets/icons/cancel.svg" alt="Icono Comprar" class="edit-store-seller-one__icon-secundary">
      </a>
    </div>

    <div class="edit-store-seller-one__primary">
      <a href="edit_store_seller2.html" class="btn btn--primary edit-store-seller-one__edit">Siguiente
        <img src="/frontend/public/assets/icons/edit.svg" alt="Icono Comprar" class="edit-store-seller-one__icon">
      </a>
    </div>
  </form>
</section>
