<section class="edit-store-seller">
  <h2 class="edit-store-seller__title">Editar datos de la tienda</h2>

  <form class="edit-store-seller__form">
    <div class="create-store__group">
      <label class="edit-store-seller__label">Dirección de la tienda</label>
      <a href="add_adress.html" class="edit-store-seller__link">Editar dirección</a>
    </div>

    <div class="create-store__group">
      <label class="edit-store-seller__label">Información propietario</label>
      <a href="view_store_admin_form.html" class="edit-store-seller__link">Agregar La información del propietario</a>
    </div>

    <!-- Descripción -->
    <div class="edit-store-seller__field edit-store-seller__field--full">
      <label class="edit-store-seller__label">Descripción</label>
      <textarea class="edit-store-seller__input" rows="4" placeholder="Escribe una breve descripción de tu tienda..." required></textarea>
    </div>
    
    <!-- Dirección -->
    <div class="edit-store-seller__field edit-store-seller__field--full">
      <label class="edit-store-seller__label">Imagen de portada</label>
      <input type="file" class="edit-store-seller__input" accept="image/*">
    </div>
    
    <!-- Botones -->
    <div class="edit-store-seller__secondary">
      <a href="profile_store_seller.html" class="btn btn-variant2--secondary">Cancelar</a>
    </div>

    <div class="edit-store-seller__primary">
      <a href="profile_store_seller.html" class="btn btn--primary">Guardar cambios</a>
    </div>
  </form>
</section>
