<section class="edit-post-five">
  <div class="edit-post-five__wrapper">

    <!-- HEADER -->
    <header class="edit-post-five__header">
      <h1 class="edit-post-five__title">Continúa editando la información<br> del producto</h1>
      <p class="edit-post-five__subtitle">
        Completa o modifica la información de tu producto <br> en  
        <strong>SENA MERCH</strong>.
      </p>
    </header>

    <!-- FORMULARIO -->
    <form class="edit-post-five__form">

      <!-- Campo: Texto -->
      <div class="edit-post-five__group edit-post-five__group--full">
        <label class="edit-post-five__label">Edita el aporte para inventarios</label>
        <textarea 
          class="edit-post-five__textarea"
          placeholder="Describe brevemente el producto..."
        ></textarea>
      </div>

      <!-- Botones -->
      <div class="edit-post-five__buttons-wrapper">

        <div class="edit-post-five__secondary">
          <button type="button" class="btn-secundary btn-secundary-style edit-post-five__cancel">
            Cancelar
            <img src="/frontend/public/assets/icons/cancel.svg" class="btn-secundary__icon" alt="">
          </button>
        </div>

        <div class="edit-post-five__buttons">
          <button type="submit" class="btn btn--primary edit-post-five__continue">
            Siguiente
            <img src="/frontend/public/assets/icons/continue.svg" class="btn__icon" alt="">
          </button>
        </div>

      </div>

    </form>
  </div>
</section>
