<section class="edit">
    <div class="edit__container">
      <h1 class="edit__title">Editar Perfil</h1>

      <form class="edit__form">
        <div class="edit__field">
          <label for="name" class="edit__label">Nombre</label>
          <input type="text" name="name" class="edit__input" placeholder="Ingresa tu nombre">
        </div>

        <div class="edit__field">
          <label for="email" class="edit__label">Correo electrónico</label>
          <input type="email" name="email" class="edit__input" placeholder="Ingresa tu correo electrónico">
        </div>

        <div class="edit__field">
          <label for="location" class="edit__label">Dirección</label>
          <input type="text" name="location" class="edit__input" placeholder="Ingresa tu dirección">
        </div>

        <div class="edit__image">
            <img src="/frontend/public/assets/img/client_photo_profile.jpg" alt="Profile_photo">
        </div>

        <div class="edit__actions">
            <a href="/frontend/public/views/profile_client.html" class="edit__btn edit__btn--save">Guardar cambios</a>
            <a href="/frontend/public/views/profile_client.html" class="edit__btn edit__btn--cancel">Cancelar</a>
        </div>
      </form>

        
    </div>
</section>