<section class="edit-post-two">
  <div class="edit-post-two__wrapper">

    <!-- HEADER -->
    <header class="edit-post-two__header">
      <h1 class="edit-post-two__title">Continúa editando la información<br> del producto</h1>
      <p class="edit-post-two__subtitle">
        Completa o modifica la información de tu producto en <strong>SENA MERCH</strong>.
      </p>
    </header>
    <form class="edit-post-two__form">
      <!-- Imágenes -->
            <div class="edit-post-two__group">
        <label class="edit-post-two__label">Quinta imagen del producto</label>
        <input 
          type="file"
          class="edit-post-two__input"
          accept="image/*"
        >
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Sexta imagen del producto</label>
        <input 
          type="file"
          class="edit-post-two__input"
          accept="image/*"
        >
      </div>

      <!-- Descuento -->
      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita el aporte para inventarios</label>
        <textarea 
          class="edit-post-two__textarea"
          placeholder="Describe brevemente el producto..."
        ></textarea>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Descuento (%)</label>
        <input 
          type="number"
          class="edit-post-two__input"
          value="10"
          min="0"
          max="100"
        >
      </div>


      <!-- Grupo Botón cancelar -->
      <div class="edit-post-two__group ">
        <div class="edit-post-two__secondary">
          <button class="btn-secundary btn-secundary-style edit-post-two__cancel">
            Volver
            <img
            src="/frontend/public/assets/icons/return.svg" alt="Icono cancelar" class="btn-secundary__icon">
          </button>
        </div>
      </div>

      <!-- Grupo Botón siguiente -->
      <div class="edit-post-two__group ">
        <div class="edit-post-two__buttons">
          <button type="button" class="btn btn--primary edit-post-two__save">
            Siguiente
            <img src="/frontend/public/assets/icons/continue.svg" alt="Icono siguiente" class="btn__icon"/>
          </button>
        </div>
      </div>

    </form>
  </div>
</section>
