<section class="edit-post-one">
  <form class="edit-post-one__form">
    <div class="edit-post-one__fields-wrapper">
      <h2 class="edit-post-one__title">Editar producto</h2>

      <!-- Campo: Título -->
      <div class="edit-post-one__field">
        <label class="edit-post-one__label">Título del producto</label>
        <input 
          type="text" 
          class="edit-post-one__input edit-post-one__input--text" 
          value="Tomate del Valle" 
          required
        >
      </div>

      <!-- Campo: Precio -->
      <div class="edit-post-one__field">
        <label class="edit-post-one__label">Precio</label>
        <input 
          type="number" 
          class="edit-post-one__input edit-post-one__input--text" 
          value="3000" 
          min="0" 
          required
        >
      </div>

      <!-- Campo: Categoría -->
      <div class="edit-post-one__field">
        <label class="edit-post-one__label">Categoría</label>
        <select class="edit-post-one__select" required>
          <option value="" disabled>Selecciona una categoría</option>
          <option value="frutas" selected>Frutas</option>
          <option value="verduras">Verduras</option>
          <option value="verduras">Granos</option>
          <option value="carnes">Carnes</option>
          <option value="bebidas">Bebidas</option>
          <option value="otros">Otros</option>
        </select>
      </div>

      <!-- Campo: Cantidad disponible -->
      <div class="edit-post-one__field">
        <label class="edit-post-one__label">Stock disponible</label>
        <input 
          type="number" 
          class="edit-post-one__input" 
          value="50" 
          min="1" 
          required
        >
      </div>

      <div class="edit-post__field-secundary">
        <a href="view_seller_cards.html" class="btn btn-variant2--secondary edit-post__cancel">Cancelar producto
          <img src="/frontend/public/assets/icons/cancel.svg" alt="Icono Comprar" class="edit-post__icon-secundary">
        </a>
      </div>

      <div class="edit-post__field-primary">
        <a href="view_edit_post2.html" class="btn btn--primary edit-post__save">Siguiente
          <img src="/frontend/public/assets/icons/continue.svg" alt="Icono Comprar" class="edit-post__icon">
        </a>
      </div>
    </div>
  </form>
</section>
