<section class="edit-profile-admin"> 
  <div class="edit-profile-admin__wrapper">
    <header class="edit-profile-admin__header">
      <h1 class="edit-profile-admin__title">Editar perfil del administrador</h1>
      <p class="edit-profile-admin__subtitle">
        Este formulario te permite editar los datos del perfil de administrador.
      </p>
    </header>

    <form class="edit-profile-admin__form">
      <div class="edit-profile-admin__group">
        <label class="edit-profile-admin__label">Dirección</label>
        <input type="text" class="edit-profile-admin__input" required />
      </div>

      <div class="edit-profile-admin__group">
        <label class="edit-profile-admin__label">Escribe tu contraseña</label>
        <div class="edit-profile-admin__password-wrapper">
          <input
            class="edit-profile-admin__input edit-profile-admin__input--password"
            type="password"
            placeholder="Contraseña"
            required
          />
          <button type="button" class="edit-profile-admin__toggle-password">Mostrar</button>
        </div>
      </div>

      <div class="edit-profile-admin__secondary">
        <button
          type="button"
          class="btn-secundary btn-secundary-style edit-profile-admin__cancel"
          aria-label="Cancelar edición"
        >
          Cancelar
          <img
            src="/frontend/public/assets/icons/cancel.svg"
            alt=""
            class="btn-secundary__icon"
            aria-hidden="true"
          />
        </button>
      </div>

      <div class="edit-profile-admin__buttons">
        <button
          type="submit"
          class="btn btn--primary edit-profile-admin__submit"
          aria-label="Guardar datos del administrador"
        >
          Guardar datos
          <img
            src="/frontend/public/assets/icons/save.svg"
            alt=""
            class="btn__icon edit-profile-admin__icon"
            aria-hidden="true"
          />
        </button>
      </div>
    </form>
  </div>
</section>
