<section class="edit-store-seller-one">
  <h2 class="edit-store-seller-one__title">Editar datos de la tienda</h2>

  <form class="edit-store-seller-one__form">
    <!-- Nombre de la tienda -->
    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Nombre de la tienda</label>
      <input type="text" class="edit-store-seller-one__input" placeholder="Ej: Tienda Verde" required>
    </div>

    <!-- Correo -->
    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Correo electrónico</label>
      <input type="email" class="edit-store-seller-one__input" placeholder="correo@tienda.com" required>
    </div>

    <!-- Teléfono -->
    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Teléfono</label>
      <input type="tel" class="edit-store-seller-one__input" placeholder="+57 300 000 0000" required>
    </div>

    <div class="edit-store-seller-one__field">
      <label class="edit-store-seller-one__label">Categoría</label>
      <select class="edit-store-seller-one__input" required>
        <option value="">Selecciona una categoría</option>
        <option value="Frutas">Frutas</option>
        <option value="Verduras">Verduras</option>
        <option value="Lácteos">Lácteos</option>
        <option value="Lácteos">Granos</option>
        <option value="Todas">Todas</option>
      </select>
    </div>
    <!-- Botones -->
    <div class="edit-store-seller-one__secondary">
      <button
        type="button"
        class="btn-secundary btn-secundary-style edit-store-seller__cancel"
        aria-label="Cancelar edición"
      >
        Cancelar
        <img
          src="/frontend/public/assets/icons/cancel.svg"
          alt=""
          class="btn-secundary__icon"
          aria-hidden="true"
        />
      </button>
    </div>

    <div class="edit-store-seller-one__primary">
      <button
        type="submit"
        class="btn btn--primary edit-store-seller-one__edit"
        aria-label="Guardar datos del administrador"
      >
        Siguiente
        <img
          src="/frontend/public/assets/icons/continue.svg"
          alt=""
          class="btn__icon edit-store-seller-one__icon"
          aria-hidden="true"
        />
      </button>
    </div>
  </form>
</section>
