<section class="edit-post-two">
  <div class="edit-post-two__wrapper">

    <!-- HEADER -->
    <header class="edit-post-two__header">
      <h1 class="edit-post-two__title">Continúa editando la información del producto</h1>
      <p class="edit-post-two__subtitle">
        Completa o modifica la información de tu producto en <strong>SENA MERCH</strong>.
      </p>
    </header>

    <!-- FORMULARIO -->
    <form class="edit-post-two__form">

      <!-- CARACTERÍSTICAS -->
      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita sus características</label>
        <textarea class="edit-post-two__textarea" placeholder="Describe brevemente el producto."></textarea>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita la unidad de medida</label>
        <select class="edit-post-two__input" required>
          <option value="" selected disabled>Selecciona una unidad</option>
          <option value="kg">Solido</option>
          <option value="lb">Liquido</option>
        </select>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita el tipo de garantía</label>
        <textarea class="edit-post-two__textarea" placeholder="Describe brevemente el producto."></textarea>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita las características adicionales</label>
        <textarea class="edit-post-two__textarea" placeholder="Describe brevemente el producto."></textarea>
      </div>

      <!-- Botón cancelar -->
      <div class="edit-post-two__group">
        <div class="edit-post-two__secondary">
          <button class="btn-secundary btn-secundary-style edit-post-two__cancel">
            Volver
            <img
            src="/frontend/public/assets/icons/return.svg" alt="Icono cancelar" class="btn-secundary__icon">
          </button>
        </div>
      </div>

      <!-- Botón siguiente -->
      <div class="edit-post-two__group">
        <div class="edit-post-two__buttons">
          <button type="button" class="btn btn--primary edit-post-two__save">
            Siguiente
            <img src="/frontend/public/assets/icons/continue.svg" alt="Icono siguiente" class="btn__icon"/>
          </button>
        </div>
      </div>

    </form>
  </div>
</section>
