<section class="edit-post-two">
  <div class="edit-post-two__wrapper">

    <!-- HEADER -->
    <header class="edit-post-two__header">
      <h1 class="edit-post-two__title">Edita la información del producto</h1>
      <p class="edit-post-two__subtitle">
        Completa o modifica la información de tu producto en <strong>SENA MERCH</strong>.
      </p>
    </header>

    <!-- FORMULARIO -->
    <form class="edit-post-two__form">

      <!-- Grupo: Descripción -->
      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita la descripción del producto</label>
        <textarea class="edit-post-two__textarea" placeholder="Describe brevemente el producto."></textarea>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita el contenido nutricional</label>
        <textarea class="edit-post-two__textarea" placeholder="Especifica la información nutricional del producto."></textarea>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita la información esencial</label>
        <textarea class="edit-post-two__textarea" placeholder="Incluye detalles importantes que el usuario debe conocer."></textarea>
      </div>

      <div class="edit-post-two__group">
        <label class="edit-post-two__label">Edita las variedades comunes</label>
        <textarea class="edit-post-two__textarea" placeholder="Menciona las variedades más comunes del producto."></textarea>
      </div>

      <!-- Grupo Botón cancelar -->
      <div class="edit-post-two__group">
        <div class="edit-post-two__secondary">
          <button class="btn-secundary btn-secundary-style edit-post-two__cancel">
            Cancelar producto
            <img src="/frontend/public/assets/icons/cancel.svg" alt="Icono cancelar" class="btn-secundary__icon">
          </button>
        </div>
      </div>

      <!-- Grupo Botón siguiente -->
      <div class="edit-post-two__group">
        <div class="edit-post-two__buttons">
          <button type="button" class="btn btn--primary edit-post-two__save">
            Siguiente
            <img src="/frontend/public/assets/icons/continue.svg" alt="Icono siguiente" class="btn__icon"/>
          </button>
        </div>
      </div>

    </form>
  </div>
</section>
