<!-- ================== FOOTER ================== -->
<footer class="footer-container">
  <div class="footer-container__container">
    <p class="footer-container__text">© 2025 Sena Merch - Todos los derechos reservados</p>

    <div class="footer-container__social">
      <a href="#" class="footer-container__icon footer-container__icon--instagram" aria-label="Instagram">
        <img src="/frontend/public/assets/img/instagram.jpeg" alt="Instagram">
      </a>
      <a href="#" class="footer-container__icon footer-container__icon--facebook" aria-label="Facebook">
        <img src="/frontend/public/assets/img/facebook.png" alt="Facebook">
      </a>
    </div>
  </div>
</footer>
