
<main class="publicacion">
  <div class="publicacion__container">
    <h1 class="publicacion__title">Crea una publicación</h1>

    <label class="publicacion__label">Nombre de la imagen</label>

    <div class="publicacion__image">FOTO</div>

    <label class="publicacion__label">Descripción</label>

    <div class="publicacion__buscador">
      <input class="publicacion__input" type="text" placeholder="Producto de inventario">
      <button class="publicacion__search-button">🔍</button>
    </div>

    <button class="publicacion__submit">Publicar</button>
  </div>
</main>
</footer>