<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/public/css/components/hero.css">
</head>
<body class="body__background">

    <div class="hero">

        <div class="hero__content">

            <h1 class="hero__title">SENA <br> MERCH</h1>
            <button class=" hero__button">Registrarse</button>
        </div>

        <div class="hero__image-container">

            <img src="/frontend/public/assets/SENA.jpeg" alt="Imagen de productos del campo" class="hero__image">
        </div>

    </div>

</body>
</html>
