<section class="hero-store-seller">
  <div class="hero-store-seller__overlay"></div>
  
  <div class="hero-store-seller__content">
    <h1 class="hero-store-seller__title">Frutas La Esperanza</h1>
    <h2 class="hero-store-seller__subtitle">contacto@frutaslaesperanza.com</h2>
    
    <p class="hero-store-seller__description hero-store-seller__description--intro">
      Tienda especializada en frutas frescas y productos agrícolas locales de alta calidad.
    </p>
    <p class="hero-store-seller__description hero-store-seller__description--intro">
      Categoria de Verduras.
    </p>
  </div>
</section>
