<nav class="navbar_product_category--client">
  <div class="navbar_product_category__logo">
    <h1 class="navbar_product_category__title--client">Categorias</h1>
  </div>

  <div class="navbar_product_category__actions">

    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/many.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Todas</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/fruit.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Frutas</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/vegetables.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Verdura</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/milk.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Lácteos</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/grain.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Granos</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/plant.svg " class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Ornamentales</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/cereals.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Cereales</span>
    </a>
    <a href="#" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/flower.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Oleaginosas</span>
    </a>

  </div>
</nav>
