<nav class="navbar_product_category--client">
  <div class="navbar_product_category__logo">
    <h1 class="navbar_product_category__title--client">Categorias</h1>
  </div>

  <div class="navbar_product_category__actions">

    <a href="/frontend/public/views/pages/products_all.html" 
       class="navbar_product_category__link--client">Todas</a>

    <a href="/frontend/public/views/pages/products_frutas.html" 
       class="navbar_product_category__link--client">Frutas</a>

    <a href="/frontend/public/views/pages/products_verdura.html" 
       class="navbar_product_category__link--client">Verdura</a>

    <a href="/frontend/public/views/pages/products_lacteos.html" 
       class="navbar_product_category__link--client">Lácteos</a>

    <a href="/frontend/public/views/pages/products_granos.html" 
       class="navbar_product_category__link--client">Granos</a>

  </div>
</nav>
