<header class="header">
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item"><a href="register.html" class="navbar__link">Registrarse</a></li>
                <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
            </ul>
        </nav>
</header>

<h1 class="title">
  SENA MERCH 
</h1>

<p class="paragraph__home">Descubre un mundo lleno de productos frescos y de calidad directamente del campo, listos para ser disfrutados. En nuestra plataforma, no solo podrás explorar y adquirir los mejores productos agrícolas, sino que también tendrás la oportunidad de vender y distribuir tus propios productos, conectándote con clientes y mercados de manera fácil y segura.

En SENA MERCH, creemos en acercar lo mejor del campo a tu mesa, fomentando una experiencia confiable, rápida y completamente accesible. ¡Empieza a explorar, vender y crecer con nosotros hoy mismo!</p>

<img src="/frontend/public/assets/farming-6959629_1280.jpg" alt="Imagen_home" class="home">

<a href="register.html" class="btn__register">Registrarse</a>