<nav class="navbar_product_category">
  <div class="navbar_product_category__logo">
    <h1 class="navbar_product_category__title--SenaMerch">
        <span class="navbar_product_category__letter navbar_product_category__letter--1">S</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--2">e</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--3">n</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--4">a</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--5">M</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--6">e</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--7">r</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--8">c</span>
        <span class="navbar_product_category__letter navbar_product_category__letter--9">h</span>
    </h1>
  </div>
  <div class="navbar_product_category__actions">
    <a href="view_seller_cards.html" class="navbar_product_category__link">Volver</a>
  </div>
</nav>
