<nav class="navbar_register">
  <ul class="navbar_register__list">

    <!-- Volver (alineado a la izquierda con modificador BEM) -->
    <li class="navbar_register__item navbar_register__item--left">
      <a href="wiews_users_admin.html" class="navbar_register__link">Volver</a>
    </li>

    <li class="navbar_register__item">
      <a href="wiews_users_admin.html" class="navbar_register__link">Gestionar</a>
    </li>

    <li class="navbar_register__item">
      <a href="admin_profile_view.html" class="navbar_register__link">Perfil</a>
    </li>

    <li class="navbar_register__item">
      <a href="contact1.html" class="navbar_register__link">Contacto</a>
    </li>

  </ul>
</nav>
