<nav class="navbar_product_category">

  <div class="navbar_left_group">
      <div class="navbar_product_category__actions--left">
          <a href="index.html" class="navbar_product_category__link-image">
            <img src="/frontend/public/assets/img/sena-logo.png" class="navbar_product_category__img" alt="">
          </a>
      </div>  

      <!-- Línea negra -->
      <div class="navbar_separator"></div>

      <div class="navbar_product_category__logo--left">
        <h1 class="navbar_product_category__title--SenaMerch">
          <span class="navbar_product_category__letter navbar_product_category__letter--1">S</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--2">e</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--3">n</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--4">a</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--5">M</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--6">e</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--7">r</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--8">c</span>
          <span class="navbar_product_category__letter navbar_product_category__letter--9">h</span>
          <img src="/frontend/public/assets/icons/wheat.svg" alt="" class="navbar_product_category__icon">
        </h1>
      </div>
  </div>

  <div class="navbar_product_category__actions">

    <a href="forgot_password.html" class="navbar_product_category__link navbar_product_category__link--icon-nav-bar">
      <img src="/frontend/public/assets/icons/return.svg" class="navbar_product_category__icon" alt="">
      <span class="navbar_product_category__tooltip">Volver</span>
    </a>
  </div>
</nav>

