<section class="payment-method">
  <h2 class="payment-method__title">Método de Pago</h2>

  <div class="payment-method__options">
    <label class="payment-method__option">
      <input
        type="radio"
        name="payment"
        value="efectivo"
        checked
        class="payment-method__input"
      />
      <span class="payment-method__label">Efectivo</span>
    </label>
  </div>
  <div class="payment-method__actions">
    <button type="button" class="btn btn--primary payment-method__pay">
      Realizar Pedido
      <img src="/frontend/public/assets/icons/get_into.svg" alt="Icono Comprar" class="btn__icon payment-method__icon" />
    </button>
  </div>
</section>
