<section class="page-center">
  <div class="unit-options">
    <div class="unit-options__container">

      <label class="unit-options__item">
        <input type="radio" name="unit" class="unit-options__input" />
        <img src="/frontend/public/assets/icons/icon_payment_method.svg" 
             alt="Kilogramo" 
             class="unit-option__icon">
        <span class="unit-options__label">Kilogramo</span>
      </label>

      <label class="unit-options__item">
        <input type="radio" name="unit" class="unit-options__input" />
        <img src="/frontend/public/assets/icons/icon_payment_method.svg" 
             alt="Arroba" 
             class="unit-option__icon">
        <span class="unit-options__label">Arroba</span>
      </label>

      <label class="unit-options__item">
        <input type="radio" name="unit" class="unit-options__input" />
        <img src="/frontend/public/assets/icons/icon_payment_method.svg" 
             alt="Libra" 
             class="unit-option__icon">
        <span class="unit-options__label">Libra</span>
      </label>

      <label class="unit-options__item">
      <input type="radio" name="unit" class="unit-options__input" />
      <img src="/frontend/public/assets/icons/icon_payment_method.svg" 
           alt="Libra" 
           class="unit-option__icon">
      <span class="unit-options__label">Tonelada</span>
    </label>

    <label class="unit-options__item">
      <input type="radio" name="unit" class="unit-options__input" />
      <img src="/frontend/public/assets/icons/icon_payment_method.svg" 
           alt="Libra" 
           class="unit-option__icon">
      <span class="unit-options__label">Mililitro</span>
    </label>

    <label class="unit-options__item">
      <input type="radio" name="unit" class="unit-options__input" />
      <img src="/frontend/public/assets/icons/icon_payment_method.svg" 
           alt="Libra" 
           class="unit-option__icon">
      <span class="unit-options__label">Litro</span>
    </label>

      <!-- más opciones aquí -->

    </div>
  </div>
</section>

