<section class="order_admin">
  <h1 class="order__title">Pedidos</h1>

  <!-- Tabla de pedidos -->
  <div class="order__table">
    <div class="order__row order__row--header">
      <div class="order__cell">#Pedidos</div>
      <div class="order__cell">#Usuario</div>
      <div class="order__cell">#Tienda</div>
      <div class="order__cell">Acción</div>
    </div>

    <div class="order__row">
      <div class="order__cell">#1</div>
      <div class="order__cell">#1</div>
      <div class="order__cell">#1</div>
      <div class="order__cell">
        <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a>
      </div>
    </div>

    <div class="order__row">
      <div class="order__cell">#2</div>
      <div class="order__cell">#2</div>
      <div class="order__cell">#2</div>
      <div class="order__cell">
        <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a>
      </div>
    </div>

    <div class="order__row">
      <div class="order__cell">#1</div>
      <div class="order__cell">#1</div>
      <div class="order__cell">#1</div>
      <div class="order__cell">
        <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a>
      </div>
    </div>

    <div class="order__row">
      <div class="order__cell">#2</div>
      <div class="order__cell">#2</div>
      <div class="order__cell">#2</div>
      <div class="order__cell">
        <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a>
      </div>
    </div>

    <div class="order__row">
      <div class="order__cell">#1</div>
      <div class="order__cell">#1</div>
      <div class="order__cell">#1</div>
      <div class="order__cell">
        <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a>
      </div>
    </div>

    <div class="order__row">
      <div class="order__cell">#2</div>
      <div class="order__cell">#2</div>
      <div class="order__cell">#2</div>
      <div class="order__cell">
        <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a>
      </div>
    </div>
  </div>
</section>
