<section class="order order--admin">
  <h1 class="order__title">Pedidos</h1>

  <div class="order__table-wrapper">
    <table class="order__table">
      <thead>
        <tr class="order__row order__row--header">
          <th class="order__cell">#Pedido</th>
          <th class="order__cell">#Usuario</th>
          <th class="order__cell">#Tienda</th>
          <th class="order__cell">Acción</th>
        </tr>
      </thead>

      <tbody>
        <tr class="order__row">
          <td class="order__cell">#1</td>
          <td class="order__cell">#1</td>
          <td class="order__cell">#1</td>
          <td class="order__cell">
            <button class="order__btn">Deshabilitar</button>
          </td>
        </tr>
        <tr class="order__row">
          <td class="order__cell">#2</td>
          <td class="order__cell">#2</td>
          <td class="order__cell">#2</td>
          <td class="order__cell">
            <button class="order__btn">Deshabilitar</button>
          </td>
        </tr>
        <tr class="order__row">
          <td class="order__cell">#3</td>
          <td class="order__cell">#3</td>
          <td class="order__cell">#3</td>
          <td class="order__cell">
            <button class="order__btn">Deshabilitar</button>
          </td>
        </tr>
        <tr class="order__row">
          <td class="order__cell">#4</td>
          <td class="order__cell">#4</td>
          <td class="order__cell">#4</td>
          <td class="order__cell">
            <button class="order__btn">Deshabilitar</button>
          </td>
        </tr>
        <tr class="order__row">
          <td class="order__cell">#5</td>
          <td class="order__cell">#5</td>
          <td class="order__cell">#5</td>
          <td class="order__cell">
            <button class="order__btn">Deshabilitar</button>
          </td>
        </tr>
        <tr class="order__row">
          <td class="order__cell">#6</td>
          <td class="order__cell">#6</td>
          <td class="order__cell">#6</td>
          <td class="order__cell">
            <button class="order__btn">Deshabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
