<main class="payment-gateway">
    <!-- >>> Section Navbar -->
    <section class="navbar-payment-gateway">
        <div class="navbar-container"></div>
    </section>

    <!-- >>> Section Pasarela de Pago -->
    <section class="payment-gateway__wrapper">
        <h1 class="payment-gateway__title">Pasarela de Pago</h1>

        <!-- Tabla -->
        <div class="payment-gateway__table table">
        <table class="table__content">
            <thead>
            <tr>
                <th>#Pago</th>
                <th>#Documento de venta</th>
                <th>#Usuario</th>
                <th>#Tienda</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#1</td>
                <td>#1</td>
                <td>#1</td>
                <td>#1</td>
                <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
            </tr>
            <tr>
                <td class="table__disabled">#2</td>
                <td class="table__disabled">#2</td>
                <td class="table__disabled">#2</td>
                <td class="table__disabled">#2</td>
                <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
            </tr>
            <tr>
                <td>#3</td>
                <td>#3</td>
                <td>#3</td>
                <td>#3</td>
                <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
            </tr>
            <tr>
                <td class="table__disabled">#4</td>
                <td class="table__disabled">#4</td>
                <td class="table__disabled">#4</td>
                <td class="table__disabled">#4</td>
                <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
            </tr>
            </tbody>
        </table>
        </div>

        <!-- Botón de navegación -->
        <div class="payment-gateway__navigation">
            <a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Documento de venta</a>
        </div>
    </section>
</main>

</body>
</html>