<section class="posts">
  <h1 class="posts__title">Pasarela de pago</h1>

  <div class="posts__table-wrapper">
    <table class="posts__table">
      <thead class="posts__table-head">
        <tr class="posts__table-row posts__table-row--header">
          <th class="posts__table-header">Fecha (Publicación)</th>
          <th class="posts__table-header"># Documento de Venta</th>
          <th class="posts__table-header">Nombre Vendedor</th>
          <th class="posts__table-header">Nombre Cliente</th>
          <th class="posts__table-header">Nombre Tienda</th>
          <th class="posts__table-header">Nombre Producto</th>
          <th class="posts__table-header">Acción</th>
        </tr>
      </thead>
      <tbody class="posts__table-body">
        <tr class="posts__table-row">
          <td class="posts__table-cell" data-label="Fecha: ">01/12/2025</td>
          <td class="posts__table-cell" data-label="# Documento de Venta: ">000123</td>
          <td class="posts__table-cell" data-label="Nombre Vendedor: ">Carlos López</td>
          <td class="posts__table-cell" data-label="Nombre Cliente: ">Laura Gómez</td>
          <td class="posts__table-cell" data-label="Nombre Tienda: ">La Despensa Verde</td>
          <td class="posts__table-cell" data-label="Nombre Producto: ">Manzanas Rojas</td>
          <td class="posts__table-cell" data-label="Acción: ">
            <div class="posts__secondary">
              <a href="seller_view.html" class="btn btn-variant2--secondary">Gestionar</a>
            </div>
          </td>
        </tr>

        <tr class="posts__table-row">
          <td class="posts__table-cell" data-label="Fecha: ">02/11/2025</td>
          <td class="sales-admin__table-cell" data-label="# Documento de Venta: ">000124</td>
          <td class="sales-admin__table-cell" data-label="Nombre Vendedor: ">Juliana Restrepo</td>
          <td class="sales-admin__table-cell" data-label="Nombre Cliente: ">Daniela Arango</td>
          <td class="sales-admin__table-cell" data-label="Nombre Tienda: ">Frutos del Valle</td>
          <td class="sales-admin__table-cell" data-label="Nombre Producto: ">Tomates</td>
          <td class="sales-admin__table-cell" data-label="Acción: ">
            <div class="posts__secondary">
              <a href="seller_view.html" class="btn btn-variant2--secondary">Gestionar</a>
            </div>
          </td>
        </tr>

        <tr class="posts__table-row">
          <td class="posts__table-cell" data-label="Fecha: ">16/10/2025</td>
          <td class="sales-admin__table-cell" data-label="# Documento de Venta: ">000125</td>
          <td class="sales-admin__table-cell" data-label="Nombre Vendedor: ">Emanuel Ríos</td>
          <td class="sales-admin__table-cell" data-label="Nombre Cliente: ">Mateo Rodríguez</td>
          <td class="sales-admin__table-cell" data-label="Nombre Tienda: ">El Campesino Feliz</td>
          <td class="sales-admin__table-cell" data-label="Nombre Producto: ">Zanahorias</td>
          <td class="sales-admin__table-cell" data-label="Acción: ">
            <div class="posts__secondary">
              <a href="seller_view.html" class="btn btn-variant2--secondary">Gestionar</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
