<main class="products">
  <h1 class="products__title">Productos</h1>
  <div class="products__table-wrapper">
    <table class="products__table">
      <thead class="products__table-head">
        <tr class="products__table-row">
          <th class="products__table-header">Producto (Nombre)</th>
          <th class="products__table-header">Usuario (Nombre)</th>
          <th class="products__table-header">Calificación (1 a 5)</th>
          <th class="products__table-header">Tienda (Nombre)</th>
          <th class="products__table-header">Acción</th>
        </tr>
      </thead>
      <tbody class="products__table-body">
        <tr class="products__table-row">
          <td class="products__table-cell">Tomate</td>
          <td class="products__table-cell">Juan jose</td>
          <td class="products__table-cell"> 4 </td>
          <td class="products__table-cell"> Revolteria la Cachona</td>
          <td class="products__table-cell">
              <div class="products__secondary">
                <a href="seller_view.html" class="btn btn-variant2--secondary">Deshabilitar</a>
              </div></td>
        </tr>
        <tr class="products__table-row">
          <td class="products__table-cell">Zanahoria</td>
          <td class="products__table-cell">Mateo</td>
          <td class="products__table-cell"> 2</td>
          <td class="products__table-cell"> Donde don pastor</td>
          <td class="products__table-cell">
            <div class="products__secondary">
              <a href="seller_view.html" class="btn btn-variant2--secondary">Deshabilitar</a>
            </div></td>
        </tr>
        <tr class="products__table-row">
          <td class="products__table-cell">limón</td>
          <td class="products__table-cell">Jefferson</td>
          <td class="products__table-cell"> 1 </td>
          <td class="products__table-cell"> Con Cociaca </td>
          <td class="products__table-cell">
            <div class="products__secondary">
              <a href="seller_view.html" class="btn btn-variant2--secondary">Deshabilitar</a>
            </div></td>
        </tr>
        <tr class="products__table-row">
          <td class="products__table-cell">Espinacas</td>
          <td class="products__table-cell">Emanuel</td>
          <td class="products__table-cell"> 5</td>
          <td class="products__table-cell"> El bosque</td>
          <td class="products__table-cell">
            <div class="products__secondary">
              <a href="seller_view.html" class="btn btn-variant2--secondary">Deshabilitar</a>
            </div></td>
        </tr>

      </tbody>
    </table>
  </div>
</main>
