<section class="products">
  <!-- Título principal -->
  <h1 class="products__title">Productos</h1>

  <!-- Tabla de productos -->
  <section class="products__section">
    <table class="products__table">
      <thead class="products__table-head">
        <tr class="products__table-row">
          <th class="products__table-header">Producto (Nombre)</th>
          <th class="products__table-header">Usuario (Nombre)</th>
          <th class="products__table-header">Calificación (1 a 5)</th>
          <th class="products__table-header">Tienda (Nombre)</th>
          <th class="products__table-header">Estado</th>
          <th class="products__table-header">Acción</th>
        </tr>
      </thead>

      <tbody class="products__table-body">
        <!-- Producto 1 -->
        <tr class="products__table-row">
          <td class="products__table-cell" data-label="Producto (Nombre): ">Tomate</td>
          <td class="products__table-cell" data-label="Usuario (Nombre): ">Juan José</td>
          <td class="products__table-cell" data-label="Calificación (1 a 5): ">4</td>
          <td class="products__table-cell" data-label="Tienda (Nombre): ">Revoltería la Cachona</td>
          <td class="products__table-cell" data-label="Estado: ">Habilitado</td>
          <td class="products__table-cell" data-label="Acción">
            <div class="products__table-secondary">
              <button class="btn-secundary btn-secundary-style products__gestor">
                Gestionar
                <img src="/frontend/public/assets/icons/manage.svg" alt="Icono gestionar" class="btn-secundary__icon">
              </button>
            </div>
          </td>
        </tr>

        <!-- Producto 2 -->
        <tr class="products__table-row">
          <td class="products__table-cell" data-label="Producto (Nombre): ">Zanahoria</td>
          <td class="products__table-cell" data-label="Usuario (Nombre): ">Mateo</td>
          <td class="products__table-cell" data-label="Calificación (1 a 5): ">2</td>
          <td class="products__table-cell" data-label="Tienda (Nombre): ">Donde Don Pastor</td>
          <td class="products__table-cell" data-label="Estado: ">Habilitado</td>
          <td class="products__table-cell" data-label="Acción">
            <div class="products__table-secondary">
              <button class="btn-secundary btn-secundary-style products__gestor">
                Gestionar
                <img src="/frontend/public/assets/icons/manage.svg" alt="Icono gestionar" class="btn-secundary__icon">
              </button>
            </div>
          </td>
        </tr>

        <!-- Producto 3 -->
        <tr class="products__table-row">
          <td class="products__table-cell" data-label="Producto (Nombre): ">Limón</td>
          <td class="products__table-cell" data-label="Usuario (Nombre): ">Jefferson</td>
          <td class="products__table-cell" data-label="Calificación (1 a 5): ">1</td>
          <td class="products__table-cell" data-label="Tienda (Nombre): ">Con Cociaca</td>
          <td class="products__table-cell" data-label="Estado: ">Deshabilitado</td>
          <td class="products__table-cell" data-label="Acción">
            <div class="products__table-secondary">
              <button class="btn-secundary btn-secundary-style products__gestor">
                Gestionar
                <img src="/frontend/public/assets/icons/manage.svg" alt="Icono gestionar" class="btn-secundary__icon">
              </button>
            </div>
          </td>
        </tr>

        <!-- Producto 4 -->
        <tr class="products__table-row">
          <td class="products__table-cell" data-label="Producto (Nombre): ">Espinacas</td>
          <td class="products__table-cell" data-label="Usuario (Nombre): ">Emanuel</td>
          <td class="products__table-cell" data-label="Calificación (1 a 5): ">5</td>
          <td class="products__table-cell" data-label="Tienda (Nombre): ">El Bosque</td>
          <td class="products__table-cell" data-label="Estado: ">Habilitado</td>
          <td class="products__table-cell" data-label="Acción">
            <div class="products__table-secondary">
              <button class="btn-secundary btn-secundary-style products__gestor">
                Gestionar
                <img src="/frontend/public/assets/icons/manage.svg" alt="Icono gestionar" class="btn-secundary__icon">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
