<div class="client__container">

    <h1 class="client__title">Mi Perfil</h1>

    <section class="client__info">
      <div class="client__info-box client__info-box--personal">
        <h2 class="client__subtitle">Información Personal</h2>
        <p class="client__text"><strong>Nombre:</strong> Juan José Ocampo</p>
        <p class="client__text"><strong>Correo electrónico:</strong> jocampo@email.com</p>
        <p class="client__text"><strong>Número de celular:</strong><br> +57 3123456786</p>
      </div>

      <div class="client__info-box client__info-box--address">
        <h2 class="client__subtitle">Dirección</h2>
        <p class="client__text">Condina</p>
        <p class="client__text">Risaralda - Pereira - Colombia</p>
      </div>
    </section>

    <section class="client__orders">
      <h2 class="client__subtitle">Pedidos recientes</h2>
      <ul class="client__order-list">
        <li class="client__order-item">
          <span class="client__order-id">Pedido #1023</span>
          <span class="client__order-status">Entregado</span>
        </li>
        <li class="client__order-item">
          <span class="client__order-id">Pedido #1017</span>
          <span class="client__order-status">En progreso</span>
        </li>
      </ul>
    </section>

    <figure class="client__image">
      <img src="/frontend/public/assets/img/client_photo_profile.jpg" alt="Photo_client">
    </figure>

    <div class="client__actions">
        <a href="edit_profile_client.html" class="btn btn--primary shopping-cart__checkout">Editar perfil</a>
        <a href="profile_user.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Salir</a>
    </div>
        


</div>