<section class="store-profile">
  <div class="store-profile__header">
    <img
      src="/frontend/public/assets/img/store_seller.jpg"
      alt="Logo de la tienda"
      class="store-profile__logo"
    />
    <div class="store-profile__info">
      <h2 class="store-profile__name">Tienda Verde</h2>
      <p class="store-profile__category">Comidas rápidas saludables</p>
    </div>
  </div>

  <div class="store-profile__details">
    <p><strong>Correo:</strong> contacto@tiendaverde.com</p>
    <p><strong>Teléfono:</strong> +57 300 123 4567</p>
    <p><strong>Dirección:</strong> Calle 123 #45-67, Bogotá</p>
    <p><strong>Descripción:</strong> Especialistas en productos frescos y naturales, con servicio rápido y amable.</p>
  </div>

  <div class="store-profile__actions">
    <a href="edit_store_seller.html" class="btn btn--primary">Editar datos de tienda</a>
  </div>
    <div class="store-profile__actions-secundary">
      <a href="product.html" class="btn btn-variant2--secondary">Ver catálogo</a>
    </div>
</section>



