<section class="create-post">
  <form class="create-post__form">
    <h2 class="create-post__title">Crear publicación</h2>

    <div class="create-post__field">
      <label class="create-post__label">Título de la publicación</label>
      <input type="text" class="create-post__input create-post__input--text" placeholder="Escribe un título atractivo" required>
    </div>

    <div class="create-post__field">
      <label class="create-post__label">Descripción</label>
      <textarea class="create-post__textarea" placeholder="Describe tu publicación" required></textarea>
    </div>

    <div class="create-post__field">
      <label class="create-post__label">Subir imagen</label>
      <input type="file" class="create-post__input create-post__input--file" accept="image/*" required>
    </div>

    <div class="create-post__field">
      <label class="create-post__label">Categoría</label>
      <select class="create-post__select" required>
        <option value="" disabled selected>Selecciona una categoría</option>
        <option value="tecnologia">Lácteos</option>
        <option value="hogar">Granos</option>
        <option value="moda">Ganadería</option>
        <option value="alimentos">Frutas</option>
        <option value="alimentos">Verduras</option>
      </select>
    </div>

    <div class="create-post__actions">
      <a href="/frontend/public/views/seller_view.html" class="btn btn--primary">Publicar</a>
    </div>
  </form>
</section>