<!-- Contenedor que centra el componente -->
<div class="quantity-container">
  <!-- Componente cantidad -->
  <section class="quantity">
    <label for="quantity" class="quantity__label">
      Selecciona una unidad de medida
    </label>

    <input 
      type="number" 
      id="quantity" 
      class="quantity__field" 
      placeholder="Introduce la cantidad que deseas" 
      min="1"
    >

    <small class="quantity__helper">
      Máximo según la disponibilidad.
    </small>
  </section>
</div>
