<form class="form-content">
  <h1 class="form__title">Completa los datos para crear tu cuenta</h1>

  <label class="form__label" for="email">Utiliza tu correo electrónico</label>
  <input class="form__input" type="email" name="email" />
  <small class="form__text">Recibirás información de tu cuenta.</small>

  <label class="form__label" for="name">Elige un nombre</label>
  <input class="form__input" type="text" name="name" />
  <small class="form__text">Se mostrará a las personas que interactúen contigo.</small>

  <label class="form__label" for="user-type">Tipo de usuario</label>
  <select class="form__input" name="user-type">
    <option value="">Selecciona...</option>
    <option value="client">Cliente</option>
    <option value="seller">Vendedor</option>
    <option value="distributor">Distribuidor</option>
  </select>
  <small class="form__text">Qué tipo de usuario serás.</small>

  <label class="form__label" for="department">Establece tu departamento</label>
  <select class="form__input" name="department">
    <option value="">Selecciona...</option>
    <option value="Risaralda">Risaralda</option>
    <option value="Quindio">Quindio</option>
    <option value="Caldas">Caldas</option>
  </select>
  <small class="form__text">Así podrás interactuar con locales.</small>

  <label class="form__label" for="address">Dirección</label>
  <a href="/frontend/public/views/add_adress.html">Agregar</a>
  <small class="form__text">Los clientes estarán más cerca de ti.</small>

  <label class="form__label" for="password">Crea tu contraseña</label>
  <input class="form__input" type="password" name="password" />
  <small class="form__text">Mantendrás tu cuenta asegurada.</small>

    <a href="index.html" class="btn btn--primary">Regsitrar</a>
</form>