<div class="main-site">
    <main class="reset">
        <h2 class="reset__title">Restablecer Contraseña</h2>

        <form class="reset__form"  action="login.html">

            <div class="reset__field">
                <label class="reset__label">Nueva contraseña</label>
                <input class="reset__input" type="password" placeholder="Nueva contraseña" required>
            </div>

            <div class="reset__field">
                <label class="reset__label">Confirmar contraseña</label>
                <input class="reset__input" type="password" placeholder="Confirma tu contraseña" required>
            </div>

            <button class="reset__button" type="submit">Restablecer</button>
        </form>

        <a class="reset__link" href="login.html">Volver al inicio de sesión</a>
    </main>
</div>