<div class="main-site-reset">
  <section class="reset">

    <div class="reset__card">

      <h2 class="reset__title">Restablecer Contraseña</h2>
        
      <form class="reset__form">
        <p class="reset__form-subtitle"> Puedes Utilizar un formato de contraseña como<br> este: Numero, Color, Caracter, Numero, Caracter</p>
        

        <div class="reset__field">
          <label class="reset__label">Escribe tu contraseña</label>
          <div class="reset__password-wrapper">
            <input class="reset__input reset__input--password">
            <button class="reset__toggle-password">Mostrar</button>
          </div>
        </div>

        <div class="reset__field">
          <label class="reset__label">Confirma tu contraseña</label>
          <div class="reset__password-wrapper">
            <input class="reset__input reset__input--password">
            <button class="reset__toggle-password">Mostrar</button>
          </div>
        </div>

        <div class="reset__button">
          <button type="submit" class="btn btn--primary reset__submit">
            Restablecerla
            <img src="/frontend/public/assets/icons/reset.svg" alt="Icono Enviar" class="btn__icon">
          </button>
        </div>

      </form>

      <a class="reset__link" href="login.html">Volver al inicio de sesión</a>

    </div>

  </section>
</div>
