<section class="sale-details"> 
  <!-- Columna izquierda: info del agricultor y transporte -->
  <aside class="sale-details__sidebar">
    <h3 class="sale-details__subtitle">Tienda</h3>
    <p><strong>Nombre Tienda:</strong> Donde Luis</p>
    <p><strong>Teléfono Tienda:</strong> 310987654</p>
    <p><strong>Correo Tienda:</strong> vendedor@email.com</p>
    <hr>
    <h3 class="sale-details__subtitle">Vendedor</h3>
    <p><strong>Nombre :</strong> Emanuel Guerrero</p>
    <p><strong>Teléfono:</strong> 300 456 2340</p>
    <p><strong>NIT:</strong> 1234675</p>
    <p><strong>Correo:</strong> agricultorejemplo@email.com</p>
    <hr>
    <h3 class="sale-details__subtitle">Cliente</h3>
    <p><strong>Nombre Cliente:</strong> Juan Pérez</p>
    <p><strong>Teléfono Cliente:</strong> 310987654</p>
    <p><strong>Correo Cliente:</strong> vendedor@email.com</p>
  </aside>

  <!-- Columna derecha: productos y totales -->
  <div class="sale-details__content">
    <h2 class="sale-details__title">Detalles de venta</h2>

    <!-- Productos -->
    <section class="sale-details__section">
      <h3 class="sale-details__subtitle">Productos</h3>
      <div class="sale-details__grid">
        <div class="sale-details__product-card">
          <p><strong>Fecha:</strong> 23/09/2025</p>
          <p><strong>Producto:</strong> Tomate</p>
          <p><strong>Cantidad:</strong> 5 Kg</p>
          <p><strong>Precio * kg:</strong> $2.500</p>
          <p><strong>Total:</strong> $12.500</p>
        </div>

        <div class="sale-details__product-card">
          <p><strong>Fecha:</strong> 23/09/2025</p>
          <p><strong>Producto:</strong> Manzana verde</p>
          <p><strong>Cantidad:</strong> 3 Kg</p>
          <p><strong>Precio * kg:</strong> $3.000</p>
          <p><strong>Total:</strong> $9.000</p>
        </div>
      </div>
    </section>

    <!-- Totales -->
    <div class="sale-details__totals">
      <p><strong>Base:</strong> $20.000</p>
      <p><strong>IVA:</strong> $3.800</p>
      <p><strong>Total pagado:</strong> $23.800</p>
    </div>
    <div class="sale-details__actions">
      <div class="sale-details__actions--left">
        <button type="button" class="btn-secundary btn-secundary-style sale-details__download" aria-label="Continuar comprando">
          Descargar PDF
          <img src="/frontend/public/assets/icons/save.svg" alt="" class="btn-secundary__icon sale-details__icon-secundary" >
        </button>
      </div>
      <div class="sale-details__actions--right">
        <button type="button" class="btn btn--primary sale-details__index">
          Inicio
          <img src="/frontend/public/assets/icons/home.svg" alt="Icono Comprar" class="btn__icon sale-details__icon" />
        </button>
      </div>
    </div>
  </div>
</section>
