<div class="search-bar">
  <!-- Icono de lupa -->
  <button class="search-bar__button" aria-label="Buscar">
    <span class="search-bar__icon">
      <img src="/frontend/public/assets/icons/icon_search.svg" alt="Buscar" />
    </span>
  </button>

  <!-- Input -->
  <input 
    type="text" 
    class="search-bar__input" 
    placeholder="Busca un producto, tienda o transportador" 
  />

  <!-- Botón de cerrar -->
  <button class="search-bar__button" aria-label="Cancelar búsqueda">
    <span class="search-bar__icon search-bar__icon--close">
      <img src="/frontend/public/assets/icons/icon_cancel.svg" alt="Cancelar" />
    </span>
  </button>
</div>
