<section class="admin-profile">
  <section class="admin-profile__card">
    <div class="admin-profile__header">
      <div class="admin-profile__avatar">
        <img src="/frontend/public/assets/img/admin_profile.png" alt="Foto del administrador">
      </div>
      <div class="admin-profile__info">
        <h1 class="admin-profile__name">Tipo usuario</h1>
        <p class="admin-profile__role">Vendedor</p>
      </div>
    </div>
    <div class="admin-profile__details">
      <div class="admin-profile__field">
        <span class="admin-profile__label">Correo electrónico:</span>
        <span class="admin-profile__value">juanperez@empresa.com</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Nombre:</span>
        <span class="admin-profile__value">Juan Jose Perez Acevedo</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Teléfono:</span>
        <span class="admin-profile__value">3102973825</span>
      </div>
      <div class="admin-profile__field">
        <a href="seller_profile_adress_view.html"><span class="admin-profile__link">Ver dirección:</span></a>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Contraseña:</span>
        <span class="admin-profile__value">************</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Último acceso:</span>
        <span class="admin-profile__value">30 de octubre de 2025, 08:45 AM</span>
      </div>
    </div>

    <div class="admin-profile__actions-grid">
      <div class="admin-profile__actions-secondary">
        <button type="button" class="btn-secundary btn-secundary-style admin-profile__session" aria-label="Exportar información en PDF">
          Volver
          <img src="/frontend/public/assets/icons/return.svg" alt="" class="btn-secundary__icon">
        </button>
      </div>

      <div class="admin-profile__actions-primary">
        <button type="button" class="btn btn--primary admin-profile__submit" aria-label="Editar datos del administrador">
          Editar datos
          <img src="/frontend/public/assets/icons/edit.svg" alt="" class="btn__icon admin-profile__icon" aria-hidden="true">
        </button>
      </div>
    </div>
  </section>
</section>
