<article class="card-seller">
  <img class="card-seller__image" src="{{image}}" alt="Imagen de {{name}}">

  <div class="card-seller__info">
    <h2 class="card-seller__title">{{name}}</h2>
    <p class="card-seller__price">${{price}}</p>

    <div class="card-seller__secondary">
      <a href="view_edit_post.html" class="btn btn-variant2--secondary card-seller__edit">Editar
        <img src="/frontend/public/assets/icons/edit.svg" alt="Icono Comprar" class="card-seller__icon-secundary">
      </a>
    </div>

    <div class="card-seller__primary">
      <a href="view_description_product_seller.html" class="btn btn--primary card-seller__description">
        Descripción
        <img src="/frontend/public/assets/icons/description.svg" alt="Icono Comprar" class="card-seller__icon">
      </a>
    </div>
  </div>
</article>
