<article class="card-seller">
  <img class="card-seller__image" src="{{image}}" alt="Imagen de {{name}}">

  <div class="card-seller__info">
    <h2 class="card-seller__title">{{name}}</h2>
    <p class="card-seller__price">${{price}}</p>
    <div class="card-seller__secondary">
      <button class="btn-secundary btn-secundary-style card-seller__edit">
        Editar
        <img src="/frontend/public/assets/icons/edit.svg" alt="Icono exportar PDF" class="btn-secundary__icon">
      </button>
    </div>

    <div class="card-seller__primary">
      <button type="button" class="btn btn--primary card-seller__description">
        Descripción
        <img src="/frontend/public/assets/icons/description.svg" alt="Icono Comprar" class="btn__icon"/>
      </button>
    </div>
  </div>
</article>
