<article class="product-card">

  <!-- Menú tres puntos -->
  <div class="product-card__menu">
    <button class="product-card__menu-btn">⋮</button>

    <ul class="product-card__menu-dropdown">
      <li>
        <a href="#" class="product-card__menu-item" data-action="open-comments">
          Dejar un comentario
        </a>
      </li>
    </ul>
  </div>

  <!-- Header: nombre y precio -->
  <div class="product-card__header">
    <h2 class="product-card__title">{{name}}</h2>
    <p class="product-card__price">$ {{price}} / kilo</p>
    <p class="product-card__discount">{{discount}} % de descuento</p>
  </div>

  <!-- Foto redonda de la tienda -->
  <a href="#" class="product_card_profile_store__link">
    <img 
        src="{{store_logo}}"
        alt="Logo de la tienda {{store_name}}"
        class="product-card__store-logo"
    />
    <span class="product_card_profile_store__tooltip">Visitar Tienda</span>
  </a>

  <!-- Imagen grande del producto -->
  <div class="product-card__image-wrapper">
    <img 
      src="{{image}}"
      alt="Imagen de {{name}}"
      class="product-card__image"
    />
  </div>

  <!-- Botones -->
  <div class="product-card_buttons-grid">
    <div class="product-card__footer">
      <button class="btn-secundary btn-secundary-style product-card__edit">
        Editar
        <img src="/frontend/public/assets/icons/edit.svg" alt="Icono gestionar" class="btn-secundary__icon">
      </button>
    </div>
    <div class="product-card__footer">
      <button type="button" class="btn btn--primary product-card__description">
        Comprar
        <img 
          src="/frontend/public/assets/icons/cash-button.svg"
          alt="Icono Comprar"
          class="btn__icon product-card__icon"
        />
      </button>
    </div>
  </div>

</article>
