<section class="main-store-form">
  <div class="store-form">
    <header class="store-form__header">
      <h2 class="store-form__title">Información del Administrador de la Tienda</h2>
      <p class="store-form__subtitle">
          Este formulario es para registrar<br> tu tienda en <strong>SENA MERCH</strong>.
          Con tu perfil podrás publicar productos y gestionar tus ventas fácilmente.
      </p>
    </header>

    <form class="store-form__fields">
      <!-- Nombre completo -->
      <div class="store-form__group">
        <label class="store-form__label">Nombre completo</label>
        <input type="text" name="full-name" class="store-form__input" placeholder="Ingresa tu nombre completo" required>
      </div>
      <!-- Correo electrónico -->
      <div class="store-form__group">
        <label class="store-form__label">Correo electrónico</label>
        <input type="email" name="email" class="store-form__input" placeholder="Ingresa tu correo electrónico" required>
      </div>

      <!-- Teléfono / WhatsApp -->
      <div class="store-form__group">
        <label class="store-form__label">Teléfono / WhatsApp</label>
        <input type="tel" name="phone" class="store-form__input" placeholder="Ingresa tu número de teléfono o WhatsApp" required>
      </div>

      <!-- Rol en la empresa -->
      <div class="store-form__group">
        <label class="store-form__label">Rol en la empresa</label>
        <select name="role" class="store-form__select" required>
          <option value="">Selecciona un rol</option>
          <option value="owner">Propietario</option>
          <option value="manager">Gerente</option>
          <option value="legal-representative">Representante legal</option>
          <option value="legal-representative">Vendedor</option>
        </select>
      </div>      
      <div class="store-form__actions">
        <button type="submit" class="btn btn--primary store-form__pay">
          Guardar Información
          <img src="/frontend/public/assets/icons/save.svg" alt="Icono Comprar" class="btn__icon store-form__icon" />
        </button>
      </div>

    </form>
  </div>
</section>
