<section class="admin-profile">
  <section class="admin-profile__card">
    <div class="store-profile__header">
        <div class="store-profile__avatar">
        <img src="/frontend/public/assets/img/store_seller.jpg" 
              alt="Imagen de la tienda Frutas La Esperanza">
      </div>

      <div class="store-profile__info">
        <h1 class="store-profile__name">Frutas La Esperanza</h1>
        <p class="store-profile__category">Tienda de Frutas</p>
      </div>
    </div>

    <div class="admin-profile__details">
      <div class="admin-profile__field">
        <span class="admin-profile__label">Barrio:</span>
        <span class="admin-profile__value">Buenos aires</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Tipo de vía:</span>
        <span class="admin-profile__value">Carrera</span>
      </div>

      <div class="admin-profile__field">
        <span class="admin-profile__label">Código postal:</span>
        <span class="admin-profile__value">010101010</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Departamento:</span>
        <span class="admin-profile__value">Quindío</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Código postal:</span>
        <span class="admin-profile__value">010101010</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Municipio:</span>
        <span class="admin-profile__value">Quimbaya</span>
      </div>
      <div class="admin-profile__field">
        <span class="admin-profile__label">Información adicional:</span>
        <span class="admin-profile__value">Al frente del centro comercial nueva york</span>
      </div>

    <div class="admin-profile__actions-grid">
      <div class="admin-profile__actions-secondary">
        <button type="button" class="btn-secundary btn-secundary-style admin-profile__session">
          Volver
          <img src="/frontend/public/assets/icons/return.svg" alt="" class="btn-secundary__icon">
        </button>
      </div>
    </div>
  </section>
</section>
