<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Producto - Tomate</title>
  <link rel="stylesheet" href="/frontend/public/css/components/Tomato-producto.css" />
</head>
<body>
  <div class="Tomate">
    <img src="/frontend/public/assets/Tomato.jpeg"  alt="Kilo de Tomate" class="Tomate__image" />
    <div class="Tomate__content">
      <h2 class="Tomate__title">Kilo Tomate</h2>
      <p class="Tomate__price">3.000$</p>
      <button class="Comprar__button">Comprar</button>
    </div>
  </div>

  <script src="/frontend/public/js/components/producto.js"></script>
</body>
</html>
