<!-- ================== Componente Usuarios (Administrador) ================== -->
<main class="users">
  <!-- Título principal -->
  <h1 class="users__title">Usuarios</h1>

  
  
  <!-- Tabla de usuarios -->
  <section class="users__section">
    <table class="users__table">
      <thead class="users__table-head">
        <tr class="users__table-row">
          <th class="users__table-header">#usuario</th>
          <th class="users__table-header">Nombre</th>
          <th class="users__table-header">Correo</th>
          <th class="users__table-header">Tipo de usuario</th>
          <th class="users__table-header">Departamento</th>
          <th class="users__table-header">Dirección</th>
          <th class="users__table-header">Acción</th>
        </tr>
      </thead>
      <tbody class="users__table-body" id="usuariosBody">
        <tr class="users__table-row">
          <td class="users__table-cell">#1</td>
          <td class="users__table-cell">Julian Gil</td>
          <td class="users__table-cell">juliangil@gmail.com</td>
          <td class="users__table-cell">Común</td>
          <td class="users__table-cell">Risaralda</td>
          <td class="users__table-cell">Carrera 10#34-54</td>
          <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
        </tr>
        <tr class="users__table-row">
          <td class="users__table-cell">#2</td>
          <td class="users__table-cell">Sebastian Valencia</td>
          <td class="users__table-cell">sebastianv@gmail.com</td>
          <td class="users__table-cell">Común</td>
          <td class="users__table-cell">Risaralda</td>
          <td class="users__table-cell">Avenida 19 #34-36</td>
          <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
        </tr>
        <tr class="users__table-row">
          <td class="users__table-cell">#3</td>
          <td class="users__table-cell">Daniela Arias</td>
          <td class="users__table-cell">danielaa@gmail.com</td>
          <td class="users__table-cell">Común</td>
          <td class="users__table-cell">Quindío</td>
          <td class="users__table-cell">Carrera 10#34-54</td>
          <td><a href="profile_client.html" class="btn--variant2 btn--variant2--secondary shopping-cart__continue">Deshabilitar</a></td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
