.address-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.8rem;
}
.address-form__fields {
  background-color: var(--white);
  padding: var(--gap-md);
  border-radius: 1.2rem;
  border: 1px solid var(--secundary-900);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}
.address-form__title {
  font-family: var(--font-primary-semibold);
  font-size: var(--fs-sm);
  color: var(--black);
  text-align: center;
}
.address-form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-md);
}
.address-form__group--full {
  grid-column: 1 / -1;
}
.address-form__group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
}
.address-form__label {
  font-size: var(--fs-xxs);
  color: var(--gray-950);
}
.address-form__input {
  padding: var(--padding-top) var(--padding-right);
  border: 1px solid var(--secundary-900);
  border-radius: 0.6rem;
  font-family: var(--font-secondary);
  font-size: var(--fs-xs);
  color: var(--gray-600);
}
.address-form__input::placeholder {
  color: var(--gray-400);
}
.address-form__buttons{
  display: flex;
  justify-content: center; 
}
.address-form__buttons .btn {
  font-family: var(--font-primary-regular);
  font-weight: 400;
  padding: var(--button-padding-top) var(--button-padding-right)
           var(--button-padding-bottom) var(--button-padding-left);
}
@media (max-width: 640px) {
  .address-form {
    padding-block: 2rem;
  }
  .address-form__fields {
    max-width: 100%;
    width: 100%;
    min-width: 320px;
    padding: var(--gap-lg);
  }
  .address-form__grid {
    grid-template-columns: 1fr; /* una sola columna */
  }
  .address-form__title {
    font-size: var(--fs-sm);
  }
}
@media (max-width: 768px) {
  .address-form__fields {
    max-width: 100%;
  }
}