.admin-profile {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-block: 2.4rem;
  display: flex;
  justify-content: center;
}
/* >>> SECCIÓN DE TARJETAS */
.admin-profile__card {
  background: var(--white);
  border: 1px solid var(--secundary-900);
  border-radius: 1.2rem;
  padding: var(--gap-lg);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}
/* >>> SECCIÓN DE ACCIONES DEL PERFIL DEL ADMINISTRADOR */
.admin-profile__actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: var(--gap-sm);
  align-items: center;
  width: 100%;
  margin-top: var(--gap-md);
}
.admin-profile__actions-secondary,
.admin-profile__actions-primary {
  display: flex;
  align-items: center;
}
.admin-profile__actions-secondary {
  justify-content: flex-start;
}
.admin-profile__actions-primary {
  justify-content: flex-end;
}
@media (max-width: 640px) {
  .admin-profile__actions-grid {
    grid-template-columns: 1fr;
  }
  .admin-profile__actions-secondary,
  .admin-profile__actions-primary {
    justify-content: center; 
  }
}
.admin-profile__header {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: var(--gap-md);
}
.admin-profile__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--secundary-700);
  flex-shrink: 0;
}
.admin-profile__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.admin-profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.admin-profile__name {
  font-family: var(--font-primary-semibold);
  font-size: var(--fs-sm);
  color: var(--black);
  margin: 0;
}
.admin-profile__role {
  font-size: var(--fs-xs);
  color: var(--gray-950);
}
.admin-profile__details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}
.admin-profile__field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--gray-300);
  padding-bottom: 0.4rem;
}
.admin-profile__label {
  font-family: var(--font-primary-semibold);
  font-size: var(--fs-xs);
  color: var(--gray-800);
}
.admin-profile__value {
  font-size: var(--fs-xs);
  color: var(--gray-900);
  text-align: right;
}
.admin-profile__link {
  color: var(--secundary-700);
  font-size: var(--fs-xxs);
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.admin-profile__link:hover {
  color: var(--secundary-950);
  text-decoration: underline;
}
