/* ================== ADMIN LAYOUT ================== */
.admin-layout {
  display: flex;
  width: fit-content;
  min-height: 90vh;
  background: var(--white);
  font-family: var(--font-primary);
}

/* ===== Contenedor principal ===== */
.admin-layout__container {
  display: grid;
  grid-template-columns: 240px 1fr;
  width: 100%;
  
}

/* ===== Sidebar ===== */
.admin-layout__sidebar {
  flex: content;
  background: var(--gray-900);
  color: var(--white);
  padding: var(--gap-lg);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  gap: var(--gap-md);
}

/* ===== Título del sidebar ===== */
.admin-layout__sidebar-title {
  font-family: var(--font-primary-bold);
  font-size: var(--fs-sm);
  margin-bottom: var(--gap-md);
  text-align: center;
}

/* ===== Menú ===== */
.admin-layout__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los links */
  gap: var(--gap-sm);
}

/* ===== Links ===== */
.admin-layout__menu-link {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-primary-regular);
  font-size: var(--fs-xs);
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  transition: background 0.3s;
  display: block;
  text-align: center;
}

.admin-layout__menu-link:hover,
.admin-layout__menu-link--active {
  background: var(--secundary-700);
  color: var(--white);
}
