.verify {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; 
  min-height: 100%;
}
.verify__container {
  border: 1px solid var(--secundary-900);
  background-color: var(--white);
  padding: var(--gap-lg);
  width: 100%;
  border-radius: 8px;
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px; 
  box-sizing: border-box;
}
.login__field {
  margin: var(--gap-xxs);
}
.verify__title {
  font-size: var(--fs-sm);
  color: var(--black);
  font-family: var(--font-primary-semibold);
  margin-bottom: var(--gap-lg);
}
.verify__text {
  font-size: var(--fs-xs);
  color: var(--gray-900);
  margin-bottom: var(--gap-lg);
  max-width: 100%;
  text-align: center;
}
.verify__form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: var(--gap-lg) !important;
  width: 100%;
}
.verify__input {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: var(--fs-md);
  border: 1px solid var(--secundary-900);
  border-radius: 8px;
  margin: var(--gap-xxs);
  color: var(--gray-900);
  font-family: var(--font-primary-semibold);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.verify__input:focus {
  border-color: var(--secundary-600);
  box-shadow: 0 0 0 3px var(--secundary-100);
  outline: none;
}
.verify__button{
  align-self: center;
}
.verify__submit{
  margin-left: var(--gap-xs);
}
.verify__link {
  display: inline-block;
  margin-top: var(--gap-lg);
  color: var(--secundary-700);
  font-size: var(--fs-xxs);
  text-decoration: none;
  font-family: var(--font-secondary-medium);
  transition: color 0.3s ease;
} 
@media (width > 640px) {
  .verify {
    width: 100%;
    padding-block: 2.4rem;
    padding-inline: 24px ;
    box-sizing: border-box;
  }
  .verify__container {
    width: fit-content;
    padding: var(--gap-lg);
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  .verify__title {
    font-size: var(--fs-sm);
  }
  .verify__input {
    margin: var(--gap-xs);
  }
}