.edit-order-content {
  padding-inline: 24px;           
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 16px;
}
.edit-order--premium {
  width: 100%;
  max-width: 1600px;  
  background: var(--white);
  border-radius: 16px;
  padding: var(--gap-xl);
  border: 1px solid var(--secundary-900);
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
  box-sizing: border-box;
}
.edit-order__title {
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: 700;
}

.edit-order__subtitle {
  font-size: var(--fs-xs);
  color: var(--gray-600);
  margin-top: var(--gap-xs);
}
.edit-order__products {
  margin-top: var(--gap-lg);
  display: grid;
  gap: var(--gap-md);
}
@media (min-width: 768px) {
  .edit-order__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .edit-order__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
.edit-order__card--product {
  background: var(--secundary-600);
  border: 1px solid var(--secundary-900);
  border-radius: 12px;
  padding: var(--gap-lg);
  gap: var(--gap-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  padding: var(--gap-sm);
  border-radius: 8px;
  border: 1px solid var(--primary-900);
  background-color: var(--secundary-200);
}

/* BOTÓN “QUITAR PRODUCTO” */
.edit-order__card--product .btn-secundary {
  width: auto; /* 🔥 no ocupar 100% */
  align-self: flex-end; /* que quede al inicio */
}

/* CONTENEDOR DEL SELECT + BOTÓN */
.edit-order__add-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-order__label {
  font-size: var(--fs-xxs);
  color: var(--gray-950);
  font-weight: 600;
}
.edit-order__input {
  width: 80px;
  padding: 8px;
  border-radius: 8px;
  font-size: var(--fs-xxs);
  border: 1px solid var(--secundary-900);
  background: var(--white);
}
.edit-order__unit {
  padding: 10px 14px;
  font-size: var(--fs-xxs);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  background: var(--white);
  cursor: pointer;
  transition: border .2s ease;
}
.edit-order__unit:hover {
  border-color: var(--secundary-600);
}
.edit-order__add-product {
  grid-column: 1 / -1;
  background: var(--gray-50);
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  padding: var(--gap-md);
  display: flex;
  gap: var(--gap-md);
  flex-wrap: wrap;
  align-items: center;
}
.edit-order__select-product {
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  border: 1px solid var(--secundary-900);
  border-radius: 8px;
  font-size: var(--fs-xs);
  width: 100%;
  max-width: 300px;
  background: var(--white);
  transition: border 0.3s ease;
}
.edit-order__actions {
  margin-top: var(--gap-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  .edit-order__actions {
    flex-direction: column;
    gap: var(--gap-md);
  
  }
}


