/* ================== FOOTER ================== */
.footer-container {
  background-color: var(--secundary-700);
  padding: 0.5rem 1rem;
  font-family: var(--font-primary);
  
}

.footer-container__container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;   
  margin: auto;    
  background-color: var(--secundary-700);
}

.footer-container__text {
  font-size: var(--fs-xs);
  color: var(--white);
  margin-right: auto; /* asegura que no tenga espacios extras */
}

.footer-container__social {
  display: flex;
  gap: 1rem;
}

.footer-container__icon img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
}

.footer-container__icon:hover img {
  transform: scale(1.1);
}

/* ================== RESPONSIVE ================== */
@media (max-width: 768px) {
  .footer-container__container {
    flex-direction: column;
    margin: auto;  
    gap: 0.8rem;
    width: 100%;
  }

  .footer-container__text {
    text-align: center;
    font-size: var(--fs-xs);
  }
}
