.hero {
  position: relative;
  background-image: url(/frontend/public/assets/img/home_img.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; /* base: móvil */
  text-align: center;
  color: var(--secundary-200);
  overflow: hidden;
}
.hero__content {
  background-color: rgb(10 10 10 / 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--gap-lg);
  z-index: 2;
}

.hero__title {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
  margin-bottom: var(--gap-xxs);
  margin-top: var(--gap-xxs);
}

.hero__subtitle {
  font-family: var(--font-primary);
  font-size: var(--fs-xs);
  font-family: var(--font-primary-bold);
  margin-bottom: var(--gap-xxs);
  margin-top: var(--gap-xxs);
}

.hero__description {
  font-family: var(--font-primary);
  font-size: var(--fs-xs);
  margin-bottom: var(--gap-xxs);
  line-height: 1.6;
}

.hero__description--intro {
  font-family: var(--font-primary);
}

.hero__description--extra {
  font-family: var(--font-primary-bold);
}
.hero__description.hero__description--intro,
.hero__description.hero__description--extra {
  text-align: center;
}


.hero__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  justify-content: center;
}

.hero__actions .btn {
  align-self: flex-start;
  padding: var(--button-padding-top) var(--button-padding-right)
           var(--button-padding-bottom) var(--button-padding-left);
}

/* ====== RESPONSIVE ====== */
@media (min-width: 768px) {
  .hero {
    height: 38vh; /* tablet */
  }
}

@media (min-width: 1280px) {
  .hero {
    height: 40vh; /* desktop */
  }
}
