.navbar_product_category {
    width: 100%;
    /* padding: var(--gap-lg); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundary-700);
    font-family: var(--font-primary);
    border-bottom: 2px solid var(--secundary-400);
    height: 100%;
}
/* Contenedor que agrupa logo y texto */
.navbar_left_group {
    display: flex;
    align-items: center;
    gap: 1.6rem; 
    background-color: var(--secundary-950);
    padding: var(--gap-sm);
    background-color: var(--secundary-950);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Línea vertical */
.navbar_separator {
    width: 2px;
    height: 64px;
    background-color: var(--secundary-400);
}

.navbar_product_category--client {
    width: 100%;
    padding: var(--gap-xxs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-500);
    font-family: var(--font-primary);
    border: 2px solid var(--secundary-400);
}
.navbar_product_category__title {
    font-size: var(--fs-md);
    font-family: var(--font-primary-bold);
    color: var(--white);
}
.navbar_product_category__title--client {
    font-size: var(--fs-md);
    font-family: var(--font-primary-bold);
    color: var(--secundary-950);
}
.navbar_product_category__title--SenaMerch {
    font-size: 0; 
    font-family: var(--font-primary-bold);
    color: var(--white);
}
.navbar_product_category__letter {
    display: inline-block;
    font-size: var(--fs-md);
    font-family: var(--font-primary-bold);
}
.navbar_product_category__actions {
    display: flex;
    align-items: center;
    /* gap: var(--gap-md); */
}
.navbar_product_category__img {
    width: 64px;
    height: 64px;
    vertical-align: -12px;

}
.navbar_product_category__letter--1 { color: var(--secundary-400); }
.navbar_product_category__letter--2 { color: var(--white); }
.navbar_product_category__letter--3 { color: var(--secundary-400); }
.navbar_product_category__letter--4 { color: var(--white); }
.navbar_product_category__letter--5 { color: var(--secundary-400); }
.navbar_product_category__letter--6 { color: var(--white); }
.navbar_product_category__letter--7 { color: var(--secundary-400); }
.navbar_product_category__letter--8 { color: var(--white); }
.navbar_product_category__letter--9 { color: var(--secundary-400); }
.navbar_product_category__actions {
    display: flex;
    align-items: center;
}
.navbar_product_category__link {
    font-size: var(--fs-xs);
    font-family: var(--font-primary-semibold);
    color: var(--white);
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 6px;
    border: 2px solid var(--secundary-400);
    transition: all 0.2s ease-in-out;
    margin-right: 2rem;
}
.navbar_product_category__link--client {
    font-size: var(--fs-xs);
    font-family: var(--font-primary-semibold);
    color: var(--secundary-950);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}
.navbar_product_category__link:hover {
    background-color: var(--tertiary-800);
    color: var(--white);
}
.navbar_product_category__link--client:hover {
    background-color: var(--tertiary-900);
    color: var(--secundary-200);
}
.navbar_product_category__link.active {
    background-color: var(--primary-300);
    color: var(--primary-950);
    font-family: var(--font-primary-bold);
    border-bottom: 2px solid var(--primary-700);
}
.navbar_product_category__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 0; 
    vertical-align: -4px;
}
.navbar_product_category__link--icon-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px; 
    position: relative; 
}
.navbar_product_category__tooltip {
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secundary-900);
    color: var(--white);
    border: 2px solid var(--secundary-400);
    padding: 4px 8px;
    font-size: var(--fs-xxxs);
    font-family: var(--font-primary-semibold);
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 20;
}
.navbar_product_category__link--icon-nav-bar:hover 
.navbar_product_category__tooltip {
    opacity: 1;
}
@media (max-width: 768px) {
    .navbar_product_category {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-sm);
    }
    .navbar_product_category__title {
        font-size: var(--fs-md);
    }
}
@media (max-width: 640px) {
    .navbar_product_category__actions {
        flex-wrap: wrap;
        gap: var(--gap-xs);
    }
    .navbar_product_category__link {
        width: auto;
    }
    .navbar_product_category {
        height: 100%;
        min-height: none;
        max-height: none;
    }
}
