.header{
    position: static;
    top: 0;   
    width: 100%;
    margin-top: 0px;
    padding: 0;
} 

.navbar{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: var(--tertiary-800);
}
.navbar__list{
    display: flex;
    flex-direction: column;
    gap: 4;
    width: 30%;
    margin: 20px;
    list-style: none;
    text-decoration: none;
    padding: 20px;
}

.navbar__link{
    display: block;
    text-align: center;
    padding: 0.8rem;
    margin-left: 900px;
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--white);
    font-size: var(--fs-xs);
    transition: color 0.3s ease;
}

.navbar__link__two{
    display: block;
    text-align: center;
    padding: 0.8rem;
    margin-left: 200px;
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--white);
    font-size: var(--fs-xs);
    transition: color 0.3s ease;
}

.navbar__link:hover{
    color: var(--secundary-600);
}
.navbar__link__two:hover{
    color: var(--secundary-600);
}


@media (width > 768px) {
    .navbar__list{
        padding: 0;
        margin: 0;
        flex-direction: row;
        gap: 40px;
        flex-grow: 1;
        justify-content: space-evenly;
    }
}