/* Contenedor externo que ocupa toda la pantalla */
.page-center {
  display: flex;
  justify-content: center;   /* centro horizontal */
  align-items: center;       /* centro vertical */
  min-height: 90vh;         /* ocupar toda la pantalla */
}

/* El bloque con borde */
.unit-options {
  border: 1px solid var(--gray-100);
  padding: 1rem 2rem;
  box-sizing: border-box;
  max-width: fit-content;
}

/* Opciones dentro */
.unit-options__container {
  display: flex;
  flex-wrap: wrap;         
  gap: 4rem;   
  justify-content: center;
}


/* cada opción (caja con icono + texto) */
.unit-options__item {
  display: flex;
  align-items: center;
  height: 20px;
  width: fit-content;
  gap: 1.6rem;
  background-color: var(--tertiary-700);
  flex-direction: row-reverse;
  gap: 16px;
  color: var(--white);
  font-size: var(--fs-xxs);
  font-family: var(--font-primary);
  padding: 1.6rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

/* tamaño del icono */
.unit-option__icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}


/* ocultar input */
.unit-options__input {
  display: none;
}

/* hover */
.unit-options__item:hover {
  background-color: var(--tertiary-800);
  transform: translateY(-2px);
}

/* Móviles pequeños (≤ 481px) */
@media (max-width: 481px) {
  .unit-options__container {
    flex-direction: column; /* apila */
    gap: 1rem;
  }

  .unit-options {
    max-width: fit-content;
  }
}
@media (max-width: 768px) and (min-width: 482px) {
  .unit-options__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 1rem;
  }

  .unit-options__item {
    font-size: var(--fs-xxs);
    max-width: 100%;
  }

  .unit-options {
    max-width: 95%;
    width: fit-content;
  }
}

