.order-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  font-family: var(--font-primary);
  background: var(--primary-50);
  border: 1px solid var(--gray-200); 
  padding: var(--gap-lg);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: var(--gap-lg);
}
.order-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-card__title {
  font-size: var(--fs-xs);
  font-family: var(--font-primary-bold);
  color: var(--gray-900); 
}
.order-card__status {
  font-size: var(--fs-xxs);
  padding: 4px 8px;
  border-radius: 6px;
  font-family: var(--font-primary-bold);
  text-transform: uppercase;
}

.order-card__status--delivered {
  background: var(--primary-50);
  color: var(--black);
}

.order-card__status--pending {
  background: var(--black);
  color: var(--black);
}

.order-card__status--cancelled {
  background: var(--black);
  color: var(--black);
}

.order-card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-sm);
  font-size: var(--fs-xxs);
  color: var(--gray-800);
  padding-bottom: var(--gap-sm);
  border-bottom: 1px solid var(--gray-300);
  margin-bottom: var(--gap-sm);
}
.order-card__products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.order-card__product {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: var(--gap-sm);
}

.order-card__product-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 8px;
}

.order-card__product-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
}

.order-card__product-name {
  font-size: var(--fs-xs);
  font-family: var(--font-primary-bold);
  color: var(--gray-900);
}

.order-card__product-price,
.order-card__product-quantity {
  font-size: var(--fs-xxs);
  color: var(--gray-700);
}

.order-card__summary {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.order-card__total {
  font-size: var(--fs-xs);
  font-family: var(--font-primary-bold);
  color: var(--gray-900);
}

.order-card__actions {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-sm);
  flex-wrap: wrap;
}
