.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-xl);
  font-family: var(--font-primary);
  background-color: var(--primary-50);
}
.posts__card {
  background-color: var(--white);
  padding: var(--gap-md);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  max-width: 1000px;
  width: 100%;
}
.posts__title {
  font-size: var(--fs-sm); 
  font-weight: bold;
  margin-bottom: var(--gap-lg);
  color: var(--primary-950);
  text-align: center;
}
.posts__table {
  width: 100%;
  border-collapse: collapse;

}
.posts__table-row--header {
  background-color: var(--primary-200);
}
.posts__table-header {
  padding: var(--gap-sm);
  text-align: left;
  font-size: var(--fs-xs); 
  font-weight: 600;
  border: 1px solid var(--gray-200);
  color: var(--gray-900);
}
.posts__table-cell {
  padding: var(--gap-sm);
  border: 1px solid var(--gray-200);
  font-size: var(--fs-xs);
  color: var(--gray-900);
}
.posts__secondary{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}
@media (max-width: 768px) {
  .posts__card {
    padding: var(--gap-sm);
  }
  .posts__table-header,
  .posts__table-cell {
    font-size: var(--fs-xxs);
    padding: var(--gap-xs);
  }
}
