/* ====== BOTÓN PRIMARIO (BEM) ====== */
button.btn.btn--primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: var(--fs-xxs); /* 1.4rem ≈ 14px */
  line-height: 1;
  padding: calc((40px - 14px) / 2) 16px;

  gap: 8px;
  font-family: var(--font-primary);
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 6px var(--gray-900);
  width: auto;
  white-space: nowrap;
  min-width: 0;

  /* Colores desde variables */
  background: var(--secundary-800);
  color: var(--white);
}

button.btn.btn--primary:hover {
  background: var(--secundary-600);
  transform: translateY(-2px);
}

button.btn.btn--primary:active {
  background: var(--secundary-900);
  transform: translateY(0);
}

button.btn.btn--primary img,
button.btn.btn--primary svg {
  width: 20px;
  height: 20px;
  display: block;
}
