.products {
  width: 98%;
  margin: 40px auto;
  padding: var(--gap-md);
  background: var(--white);
  border: 1px solid var(--secundary-900);
  border-radius: 8px;
  color: var(--gray-950);
  font-family: var(--font-primary);
}
.products__title {
  text-align: center;
  font-size: var(--fs-sm);
  margin-bottom: var(--gap-md);
  color: var(--black);
  font-family: var(--font-primary-semibold);
}
.products__table {
  width: 100%;
  font-size: var(--fs-xs);
  background-color: var(--white);
  border: 1px solid var(--secundary-900);
  box-shadow: 0 2px 6px var(--gray-200);
  border-radius: 6px;
  overflow: hidden;
}
.products__table-header {
  background: var(--gray-500);
  font-weight: bold;
  padding: var(--gap-xs) var(--gap-xs);
  border: 1px solid var(--secundary-900);
  color: var(--gray-950);
  text-align: center;
}
.products__table-cell {
  color: var(--gray-950);
  border: 1px solid var(--secundary-900);
  padding: var(--gap-xxs);
  text-align: center;
}
.products__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__table-row:nth-child(even) {
  background-color: var(--gray-200);
}
@media (max-width: 768px) {
  .products {
    padding: var(--gap-sm);
    margin: 20px auto;
  }
  .products__title {
    font-size: var(--fs-xs);
  }
  .products__table,
  .products__table thead,
  .products__table tbody,
  .products__table th,
  .products__table td,
  .products__table tr {
    display: block;
    width: 100%;
  }
  .products__table thead {
    display: none;
  }
  .products__table-row {
    border: 1px solid var(--gray-300);
    border-radius: 6px;
    margin-bottom: var(--gap-sm);
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    padding: var(--gap-sm);
  }
  .products__table-cell {
    border: none;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: var(--gap-xs) 0;
    font-size: var(--fs-xxs);
    border-bottom: 1px solid var(--gray-100);
  }
  .products__table-cell:last-child {
    border-bottom: none;
  }
  .products__table-cell::before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--primary-950);
    text-transform: capitalize;
  }
}
@media (max-width: 640px) {
  .products__table-secondary {
    justify-content: end;
    text-align: right;
  }
}