.products {
  text-align: center;
  padding: var(--gap-lg);
}
.products__title {
  font-size: var(--fs-sm);
  margin-bottom: var(--gap-md);
  color: var(--primary-950);
  font-weight: bold;
}
.products__search {
  position: relative;
  width: 300px;
  margin: 0 auto var(--gap-sm) auto;
}
.products__search-input {
  width: 100%;
  padding: 0.8rem 2.5rem 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #00000050;
  font-size: var(--fs-xxs);
}
.products__search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--gray-600);
}
.products__table-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}
.products__table {
  width: 90%;
  max-width: 1100px;
  border-collapse: collapse;
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  overflow: hidden;
  font-size: var(--fs-xs);
  color: var(--gray-900);
  box-shadow: 0 2px 6px var(--gray-200);
}
.products__table-head .products__table-header {
  background: var(--gray-100);
  font-weight: bold;
  color: var(--primary-950);
  font-size: var(--fs-xs);
  padding: var(--gap-sm);
  text-align: center;
  border: 1px solid var(--gray-300);
}
.products__table-body .products__table-cell {
  padding: var(--gap-sm);
  text-align: center;
  border: 1px solid var(--gray-300);
}
.products__secondary{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}
@media (max-width: 900px) {
  .products__table {
    min-width: 100%;
    font-size: var(--fs-xxs);
  }
}
@media (max-width: 600px) {
  .products__table,
  .products__table-head,
  .products__table-body,
  .products__table-row,
  .products__table-header,
  .products__table-cell {
    display: block;
    width: 100%;
  }
  .products__table-row {
    margin-bottom: var(--gap-sm);
    border: 1px solid var(--gray-200);
    border-radius: 6px;
    padding: var(--gap-sm);
  }
  .products__table-cell {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-xxs) 0;
  }

  .products__table-header {
    display: none; 
  }
  .products__btn {
    width: 100%;
    margin-top: var(--gap-xs);
  }
}