.user-profile {
  display: flex;
  justify-content: center;
  padding-block: 4rem;
}
.user-profile__container {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}
.user-profile__title {
  font-size: var(--fs-sm);
  color: var(--black);
  text-align: center;
  font-family: var(--font-primary-semibold);
}
.user-profile__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-md);
}
.user-profile__card {
  background-color: var(--white);
  border-radius: 1.2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border: 1px solid var(--secundary-900);
  padding: var(--gap-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  transition: transform 0.2s ease;
}
.user-profile__card:hover {
  transform: translateY(-4px);
}
.user-profile__subtitle {
  font-size: var(--fs-xs);
  font-family: var(--font-primary-semibold);
  color: var(--gray-900);
  border-bottom: 1px solid var(--secundary-900);
  padding-bottom: var(--gap-xs);
}
.user-profile__info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
}
.user-profile__item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.user-profile__label {
  font-size: var(--fs-xxs);
  color: var(--gray-950);
  font-family: var(--font-primary-semibold);
}
.user-profile__text {
  font-size: var(--fs-xs);
  color: var(--gray-700);
  font-family: var(--font-secondary);
}
.user-profile__media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--gray-300);
  margin-top: var(--gap-xs);
}
.user-profile__actions {
  display: flex;
  justify-content: center; 
  align-items: center;
  grid-column: 1/-1 ;
}
.user-profile__actions .btn {
  font-family: var(--font-primary-regular);
  font-weight: 400;
  padding: var(--button-padding-top) var(--button-padding-right)
           var(--button-padding-bottom) var(--button-padding-left);
}
@media (max-width: 1024px) {
  .user-profile__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .user-profile__grid {
    grid-template-columns: 1fr;
  }
  .user-profile {
    padding-block: 2rem;
  }
  .user-profile__container {
    width: 100%;
  }
  .user-profile__title {
    font-size: var(--fs-md);
  }
  .user-profile__actions {
    grid-template-columns: 1fr;
  }
}
