/* >>> SECCIÓN DE CONTENEDOR DEL PERFIL DE LA TIENDA  */
.store-profile {
  display: flex;
  justify-content: center;
  padding-block: 4rem;
}
/* >>> SECCIÓN DE CONTENIDO DEL CONTENEDOR  */
.store-profile__container {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}
.store-profile__title {
  font-size: var(--fs-sm);
  color: var(--black);
  text-align: center;
  font-family: var(--font-primary-semibold);
}
.store-profile__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-md);
}
.store-profile__card {
  background-color: var(--white);
  border-radius: 1.2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border: 1px solid var(--secundary-900);
  padding: var(--gap-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  transition: transform 0.2s ease;
}
.store-profile__card:hover {
  transform: translateY(-4px);
}
.store-profile__subtitle {
  font-size: var(--fs-xs);
  font-family: var(--font-primary-semibold);
  color: var(--gray-900);
  border-bottom: 1px solid var(--secundary-900);
  padding-bottom: var(--gap-xs);
}
.store-profile__info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
}
.store-profile__item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.store-profile__label {
  font-size: var(--fs-xxs);
  color: var(--gray-950);
  font-family: var(--font-primary-semibold);
}
.store-profile__text {
  font-size: var(--fs-xs);
  color: var(--gray-700);
  font-family: var(--font-secondary);
}
.store-profile__image {
  width: 100%;
  height: 50px;
  border-radius: 0.8rem;
  object-fit: cover;
  border: 1px solid var(--gray-200);
}
/* >>> SECCIÓN DE ACCIONES DEL CONTENEDOR  */
.store-profile__actions {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.store-profile__actions .btn--primary {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-height: 36px !important; /* altura estándar Material Design */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.store-profile__icon {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  display: inline-block;
  margin-left: 0.4rem;
}
/* >>> SECCIÓN DE RESPONSIVIDAD */
@media (max-width: 1024px) {
  .store-profile__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .store-profile__grid {
    grid-template-columns: 1fr;
  }
  .store-profile {
    padding-block: 2rem;
  }
  .store-profile__container {
    width: 100%;
    padding-inline: 24px;
  }
  .store-profile__title {
    font-size: var(--fs-sm);
  }
  .store-profile__actions {
    grid-template-columns: 1fr;
  }
}
