.purchases {
  max-width: 1000px;
  margin: 40px auto;
  padding: var(--gap-md);
  background: var(--white);
  border: 1px solid var(--secundary-900);
  border-radius: 8px;
  color: var(--gray-950);
  font-family: var(--font-primary);
}
.purchases__title {
  text-align: center;
  font-size: var(--fs-sm);
  margin-bottom: var(--gap-lg);
  color: var(--black);
  font-family: var(--font-primary-semibold);
}
.purchase {
  border: 1px solid var(--secundary-900);
  border-radius: 8px;
  padding: var(--gap-md);
  margin-bottom: var(--gap-md);
  background: var(--secundary-100);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.purchase__header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  margin-bottom: var(--gap-sm);
}
.purchase__products {
  border-top: 1px solid var(--secundary-900);
  border-bottom: 1px solid var(--secundary-900);
  padding: var(--gap-sm) 0;
}
.purchase__product {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--gap-xs);
  font-size: var(--fs-xs);
  padding: var(--gap-xxs) 0;
}
.purchase__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--gap-sm);
}
.purchase__total {
  font-weight: 600;
  color: var(--gray-900);
}
.purchases__secondary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 
@media (max-width: 600px) {
  .purchase__product {
    grid-template-columns: 1fr 1fr;
  }
  .purchase__footer {
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .purchase__footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: var(--gap-sm);
  }
}
