.quantity-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  align-items: center;
  max-height: 960px;
}
.quantity {
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 1rem;
  padding: 1.5rem;
  margin-top: 0;
  font-size: var(--fs-xxxs);  
  max-width: 400px; 
  width: 100%;                     
  transition: border-color 0.3s, box-shadow 0.3s; 
}
.quantity:hover {
  border-color: var(--primary-600);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.quantity__field {
  max-width: 100%;
  width: 300px;
  padding: 0.6rem 1rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  font-size: var(--fs-xxxs);
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px var(--gray-800);
}
.quantity__field:hover {
  border-color: var(--primary-400);
  box-shadow: 0 0 6px var(--primary-300);
}
.quantity__field:focus {
  border-color: var(--primary-600);
  box-shadow: 0 0 4px var(--primary-900);
}
.quantity__field:active {
  border-color: var(--primary-700);
  box-shadow: 0 0 8px var(--primary-800);
}
@media (max-width: 768px) {
  .quantity {
    max-width: 50%;    
    padding: 1.5rem;     
    gap: 0.8rem;        
  }
  .quantity__field {
    width: 280px;          
    padding: 0.5rem 0.8rem; 
    font-size: var(--fs-xxs);
  }
  .quantity__label,
  .quantity__helper {
    font-size: var(--fs-xxs); 
  }
}
@media (max-width: 480px) {
  .quantity {
    padding: 1rem;       
    gap: 0.6rem;         
  }
  .quantity__field {
    padding: 0.4rem 0.6rem;
    font-size: var(--fs-xxxs); /* texto pequeño para móviles */
    width: 100%;
  }
  .quantity__label,
  .quantity__helper {
    font-size: var(--fs-xxxs);
  }
}
