/* ================== SEARCH BAR ================== */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--gap-xs); /* 0.8rem = 8px */
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  gap: var(--gap-sm); /* 1.2rem = 12px */
  font-family: var(--font-primary);
  font-size: var(--fs-xs);
  line-height: 1.5;
  box-shadow: var(--gap-xxs) var(--gap-xxs) var(--gap-sm) var(--black);

  /* centrado y ancho controlado */
  width: 100%;
  margin: var(--gap-md) auto; /* 1.6rem auto */
  max-width: 72rem; /* evita que sea gigante en pantallas grandes */
}

.search-bar__input {
  border: none;
  outline: none;
  flex: 1;
  font-size: var(--fs-xs);
  color: var(--primary-950);
  background: transparent;
  padding: 0;
}

.search-bar__input::placeholder {
  font-size: var(--fs-xs);
  color: var(--primary-950);
  opacity: 0.6;
}

.search-bar__button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* controlado por el gap y los padding de la barra */
}

.search-bar__icon img {
  width: var(--gap-lg);   /* 2.4rem ≈ 24px */
  height: var(--gap-lg);  /* 2.4rem ≈ 24px */
  display: block;
}
