/* ================== SEARCH BAR ================== */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
  border: 1px solid var(--secundary-900);
  border-radius: var(--gap-xs);
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  gap: var(--gap-sm); 
  font-family: var(--font-primary);
  font-size: var(--fs-xs);
  line-height: 1.5;
  box-shadow: var(--gap-xxs) var(--gap-xxs) var(--gap-xxs) var(--black);

  width: 95%;
  margin: var(--gap-md) auto;
  max-width: 400px; 
}
.search-bar__input {
  border: none;
  outline: none;
  flex: 1;
  font-size: var(--fs-xs);
  color: var(--primary-950);
  background: transparent;
  padding: 0;
}
.search-bar__input::placeholder {
  font-size: var(--fs-xs);
  color: var(--primary-950);
  opacity: 0.6;
}
.search-bar__button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}
.search-bar__icon img {
  width: var(--gap-lg);  
  height: var(--gap-lg);
  display: block;
}
@media (max-width: 640px) {
  .search-bar {
    max-width: 300px; 
  }
}
@media (max-width: 768px) {
  .search-bar {
    max-width: 480px;
  }
}
@media (max-width: 1024px) {
  .search-bar {
    max-width: 640px;
  }
}
@media (max-width: 1280px) {
  .search-bar {
    max-width: 72rem;
  }
}
@media (min-width: 1536px) {
  .search-bar {
    max-width: 80rem; 
  }
}
