/* Caja del buscador */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* icono y texto juntos al inicio */
  width: 100%;
  max-width: 320px; /* límite de ancho */
  max-height: 40px;
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px var(--black);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-family: var(--font-primary);
  font-size: var(--fs-xs);  
  gap: 2rem; /* espacio de 1.5rem entre icono y texto */
}

.search-bar__input {
  border: none;
  outline: none;
  font-size: var(--fs-xxs);   /* Tamaño desde variables */
  color: var(--primary-950);
  background: transparent;
  width: 1000px;      /* ocupa el espacio disponible */
/* deja espacio al icono dentro de los 320px */
}

.search-bar__input::placeholder {
  font-size: var(--fs-xxs);   /* Placeholder con mismo tamaño */
  color: var(--primary-950);
  opacity: 0.7;
}

.search-bar__button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.search-bar__icon {
  display: inline-block;
  width: 12px;   /* Ajustado al tamaño del texto */
  height: 12px;
  border: 2px solid var(--black);
  border-radius: 50%;
  position: relative;
}

.search-bar__icon::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: -4px;
  width: 12px;
  height: 2px;
  background: var(--black);
  transform: rotate(45deg);
}

.option-button--active {
  background: var(--tertiary-700);
}

.option-button--active .option-button__icon::after {
  background: var(--white);
}

/* Móviles */
@media (max-width: 480px) {
  .search-bar__input {
    max-width: 300px; /* límite en celular */
  }
}

@media (max-width: 300px) {
  .search-bar {
    max-width: 100%;
  }
  .search-bar__input{
    font-size: 0;
  }
}
/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .search-bar__input {
    max-width: 400px; /* límite en tablet */
  }
}

/* Pantallas grandes (1920px en adelante) */
@media (min-width: 1920px) {
  .search-bar__input {
    width: 1000px; /* límite en pantallas grandes */
  }
}