.btn-two {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;      /* Espaciado lateral */
  height: 30px;           /* altura fija */
  line-height: 30px;      /* centra el texto vertical */
  width: fit-content;     /* ancho ajustado al contenido */
  border: none;
  border-radius: 0.6rem;  /* esquinas redondeadas */
  font-family: var(--font-primary);
  font-size: var(--fs-xxs);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 5px var(--gray-900);
}

/* ====== VARIANTE SECUNDARIA ====== */
.btn-two--secondary {
  background: var(--black);
  color: var(--white);
}

.btn-two--secondary:hover {
  background: var(--gray-950);
  transform: translateY(-2px);
}

.btn-two--secondary:active {
  background: var(--gray-800);
  transform: translateY(0);
}

/* Móviles */
@media (max-width: 480px) {
  .btn-two {
    width: fit-content;
    height: 25px;
    font-size: var(--fs-xxs);
    padding: 0 1rem;
    border-radius: 0.6rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .btn-two {
    width: auto;
    height: 30px;
    font-size: var(--fs-xxs);
    padding: 0 1.4rem;
  }
}

/* Escritorio grande */
@media (min-width: 1024px) {
  .btn-two {
    height: 30px;
    font-size: var(--fs-xxs);
    padding: 0 1.6rem;
    border-radius: 0.6rem;
  }
}
