.users {
  max-width: 1000px;
  margin: 40px auto;
  padding: var(--gap-md);
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  color: var(--gray-950);
  font-family: var(--font-primary);
}
.users__title {
  text-align: center;
  font-size: var(--fs-sm);
  margin-bottom: var(--gap-lg);
  color: var(--primary-950);
  font-family: var(--font-primary-semibold);
}
.users__table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-xs);
  color: var(--gray-900);
  background-color: var(--white);
  box-shadow: 0 2px 6px var(--gray-200);
  border-radius: 6px;
  overflow: hidden;
}
.users__table-header {
  background: var(--primary-200);
  font-weight: bold;
  padding: var(--gap-xs);
  border: 1px solid var(--gray-300);
  color: var(--primary-950);
  text-align: center; 
}
.users__table-cell {
  border: 1px solid var(--gray-200);
  padding: var(--gap-xs);
  text-align: center;
  color: var(--gray-800);
}
.users__table-secondary{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}
@media (max-width: 768px) {
  .users {
    padding: var(--gap-sm);
    margin: 20px auto;
  }

  .users__title {
    font-size: var(--fs-xs);
  }
  .users__table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .btn--variant2 {
    width: 100%;
    max-width: 250px;
    margin: var(--gap-xs) auto;
  }
}
@media (max-width: 480px) {
  .users__title {
    font-size: var(--fs-xxs);
  }
  .btn--variant2 {
    font-size: var(--fs-xxxs);
    padding: var(--gap-xxs);
  }
}
