.view_car_pay_method {
  display: flex;
  justify-content: center;   
  align-items: center;         
  width: 100%;
  background-color: var(--gray-50);
  box-sizing: border-box;
} 

.car-pay-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 🔹 mitad y mitad */
  gap: var(--gap-lg);
  width: 100%;
  box-sizing: border-box;
}

/* Alineación del contenido */
.pay-method-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.payment-method-container {
  width: 100%;
}

/* === Responsivo === */
@media (max-width: 768px) {
  .car-pay-grid {
    grid-template-columns: 1fr; /* una sola columna en móvil */
    max-width: 100%;
  }
}
