.content-orders {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: var(--gap-xxs);
  width: 100%;
  align-items: start;
}
.right-panel {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
@media (max-width: 768px) {
  .content-orders {
    grid-template-columns: 1fr;
  }
  .seeker {
    order: 1;
  }
  .order-0 {
    order: 2;
  }
  .admin-container{
    width: 100%;
  }
}
