<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar dirección</title>
  <link rel="stylesheet" href="/frontend/public/css/components/agregar_direccion.css">
  <script src="/frontend/public/js/components/agregar_direccion.js"></script>
</head>
<body>
  <form class="direction-content">
  <h2>Añadir la dirección</h2>

  <input type="text" placeholder="Barrio" name="barrio" class="formulario__input">
  <input type="text" placeholder="Número de dirección" name="numero" class="formulario__input">
  <input type="text" placeholder="Tipo de vía" name="via" class="formulario__input">
  <input type="text" placeholder="Código postal" name="codigo" class="formulario__input">
  <input type="text" placeholder="Departamento" name="departamento" class="formulario__input">
  <input type="text" placeholder="Municipio" name="municipio" class="formulario__input">
  <input type="text" placeholder="Información adicional" name="info" class="formulario__input">

  <button type="submit" class="formulario__boton formulario__boton--registrar">Registrar</button>
</form>

</body>
</html>