<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Administrador</title>
  <!-- >>> Sección JS componentes -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_admin_profile.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/admin_profile_adress.js" defer></script>
  <script src="/frontend/public/js/components/navabar_go_go.js" defer></script>
  <script src="/frontend/public/js/components/footer_go_go.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <nav class="navbar-go-go">
      <div class="govco-container__one"></div>
    </nav>  
    <!-- >>> Sección Navbar -->
    <nav class="navbar-admin-profile-view">
      <div class="navbar-admin-profile-container"></div>
    </nav>
    <!-- >>> Sección Perfil del administrador-->
    <section class="admin-dashboard-porfile">
        <div class="profile-admin-adress-container"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-admin-profile-view">
    <section class="footer-container"></section>
  </footer>
  <footer class="footer-index-view">
    <div class="govco-container__two"></div>
  </footer>
</body>
</html>
