<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Validación de Código - Administrador</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_admin_validation.js" defer></script>
  <script src="/frontend/public/js/components/admin_validation.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navbar -->
    <nav class="navbar-admin-validation">
      <div class="navbar-container"></div>
    </nav>
    <!-- >>> Sección Verificar si es el administrador -->
    <section class="admin-panel">
      <div class="admin-panel__details"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-sale-details">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
