<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/primary-button.js" defer></script>
  <script src="/frontend/public/js/components/secondary-button.js" defer></script>
</head>
<body>
  <div class="button-container"></div>
  <button class="btn btn--variant2 btn--variant2--secondary">
  Aceptar
</button>

</body>
</html>
