<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script type="module">
      import { loadCards } from "/frontend/public/js/components/card.js";
      document.addEventListener("DOMContentLoaded", () => {
        loadCards(".cards__container");
      });
    </script>
    <script src="/frontend/public/js/components/navbar_client_view.js"></script>
    <script src="/frontend/public/js/components/search-bar.js"></script>
    <script src="/frontend/public/js/components/client_view.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Sena Merch Cliente</title>
</head>
<body>
    <main>
      <section>
        <div class="navbar_client_view"></div>
      </section>

      <section class="seeker">
        <div class="search-bar-container"></div>
      </section>

      <section class="client-users">
        <div class="client-view"></div>  
      </section>
      
      <section class="products">
        <div class="cards__container"></div>
      </section>
    </main>
    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>

