<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar.js"></script>
    <script src="/frontend/public/js/components/code_verify.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Verificación de código</title>
</head>
<body>
    <main>
        <section class="navbar-view">
            <div class="navbar-container"></div>
        </section>

        <section class="code-verify">
            <div class="code-verify"></div>
        </section>

    </main>
    <section class="footer">
        <footer class="footer-container"></footer>
    </section>
</body>
</html>