<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/navbar_verify_code.js"></script>
    <script src="/frontend/public/js/components/code_verify.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Verificación de código</title>
</head>
<body>
    <section class="section-footer-content">
        <!-- >>> Sección Navbar -->
        <nav class="navbar-verify-code">
            <div class="navbar_verify_code"></div>
        </nav>
        <!-- >>> Sección Verificar el codigo para restaurar correo -->
        <section class="code-verify">
            <div class="code-verify"></div>
        </section>
    </section>
    <!-- >>> Sección Footer -->
    <footer class="footer">
        <div class="footer-container"></div>
    </footer>
</body>
</html>