<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar_contact.js"></script>
    <script src="/frontend/public/js/components/contact1.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Contacto</title>
</head>
<body>
    <main>
      <section class="navbar-contact">
        <div class="navbar_contact"></div>
      </section>
      <section class="contact-view">    
        <div class="contact-pages"></div>
      </section>    
    </main>
    <section class="footer">
      <footer class="footer-container"></footer>
    </section>
</body>
</html>