<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Registro de Tienda</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/create_store.js" defer></script>
    <script src="/frontend/public/js/components/navbar_create_store.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
    <section class="section-footer-content">
        <!-- >>> Sección Navbar -->
        <section class="navbar-create-store-view">
            <div class="navbar-create-store"></div>
        </section>
        <!-- >>> Sección Crear tienda -->
        <section class="create-store-view">
            <div class="create-store-container"></div>
        </section>
    </section>
    <!-- >>> Sección Footer -->
    <section class="footer-store-view">
        <footer class="footer-container"></footer>
    </section>
</body>
</html>
