<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>

  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- Scripts -->
  <script src="/frontend/public/js/components/sale_details.js"></script>
  <script src="/frontend/public/js/components/navbar_details.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>

<body>
  <main>
    <!-- >>> Section Navbar -->
    <section class="navbar_details">
      <div class="navbar-container"></div>
    </section>
    <!-- >>> Section Search-bar -->
    <section class="details-view">
        <div class="sale-details-container"></div>
    </section>
  </main>
  <!-- >>> Section Footer -->
  <section class="footer-sale-details">
    <footer class="footer-container"></footer>
  </section>
</body>

