<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Panel Administrador</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_admin_profile.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/edit_admin_profile2.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navbar -->
    <nav class="navbar-admin-profile-view">
      <div class="navbar-admin-profile-container"></div>
    </nav>
    <!-- >>> Sección Editar perfil administrador -->
    <section class="admin-dashboard-porfile">
        <div class="edit-profile-admin-finish-container"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-admin-dashboard-porfile">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
