<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Editar Perfil</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/navbar_edit_profile_client.js"></script>
    <script src="/frontend/public/js/components/edit_profile_client.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <script src="/frontend/public/js/components/navabar_go_go.js" defer></script>
    <script src="/frontend/public/js/components/footer_go_go.js" defer></script>
</head>
<body>
    <section class="section-footer-content">
        <nav class="navbar-go-go">
                <div class="govco-container__one"></div>
        </nav>  
        <!-- >>> Sección Navbar -->
        <nav class="navbar-edit_profile_client-view">
            <div class="navbar_edit_profile_client"></div>
        </nav>
        <!-- >>> Sección Editar perfil cliente -->
        <section class="edit_profile_client-view">
            <div class="edit-profile-client-container"></div>
        </section>
    </section>
    <!-- >>> Sección Footer -->
    <footer class="footer-edit_profile_client-view">
        <footer class="footer-container"></footer>
    </footer>
    <footer class="footer-index-view">
        <div class="govco-container__two"></div>
    </footer>
</body>
</html>