<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar_edit_store_seller.js"></script>
    <script src="/frontend/public/js/components/edit_store_seller.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Editar datos de la tienda</title>
</head>
<body>
     <section>
        <div class="navbar_edit_store_seller"></div>
    </section>


    <main class="edit_store_seller">
        <div class="edit-store-seller"></div>
    </main>


    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>