<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Administrador</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/edit_admin_profile.js" defer></script>
</head>
<body>
  <main>
    <!-- >>> Navbar -->
    <section class="navbar-admin">
      <div class="navbar-admin-container"></div>
    </section>
      <!-- Columna izquierda -->
    <section class="admin-dashboard-porfile">
        <div class="edit-profile-admin-container"></div>
    </section>
    </div>
  </main>
  <!-- >>> Footer -->
  <section class="footer-sdfg">
    <footer class="footer-container"></footer>
  </section>
</body>
</html>
