<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar_forgot_password.js"></script>
    <script src="/frontend/public/js/components/forgot_password.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Olvidaste tu contraseña</title>
</head>
<body>
    <main>
        <section class="navbar-forgot-password">
            <div class="navbar_forgot_password"></div>
        </section>

        <section class="forgot">
            <div class="forgot-password"></div>
        </section>

    </main>
    <section class="footer">
        <footer class="footer-container"></footer>
    </section>
</body>
</html>