<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <link rel="stylesheet" href="/frontend/public/css/layout.css">

    
    <script src="/frontend/public/js/components/navbar_register.js"></script>
    <script src="/frontend/public/js/components/login.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Inicio de sesión</title>
</head>
<body>

    <section>
        <div class="navbar-container"></div>
    </section>

    <main class="login">
        <div class="login"></div>  
    </main>
    
    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>