<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Inicio de sesión</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/navbar_login.js"></script>
    <script src="/frontend/public/js/components/nav_bar_sena.js" defer></script>
    <script src="/frontend/public/js/components/login.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</head>
<body>
  <section class="section-footer-content">
    <nav class="navbar-sena-index-view">
      <div class="navbar_sena_container"></div>
    </nav>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-login">
      <div class="navbar-container"></div>
    </nav>
    <!-- >>> Sección Iniciar sesión -->
    <section class="login-view">
      <div class="login-container"></div>  
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-login-view">
    <div class="footer-container"></div>
    </footer>
</body>
</html> 