<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opción Producto</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/option.js" defer></script>
  <script src="/frontend/public/js/components/navbar_edit_store_seller.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
<body>
  <main>
    <!-- >>> Section Navbar -->
    <section class="navbar_edit_store_seller">
      <div class="navbar-container"></div>
    </section>
    <!-- >>> Section Search-bar -->
    <section class="opton-view">
      <div class="option-container"></div>
    </section>
  </main>
  <!-- >>> Section Footer -->
  <footer class="footer-container"></footer>
</body>