<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/option_payment_method.js" defer></script>
  <script src="/frontend/public/js/components/navbar_payment_method.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <section class="navbar_payment_method">
    <div class="navbar-container"></div>
  </section>

  <section class="pay">
    <div class="payment-method-container"></div>
  </section>

  <!-- Footer -->
  <section class="footer-payment">
    <footer class="footer-container"></footer>
  </section>
</body>
</html>

    