<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/card.js" defer></script>
  <script src="/frontend/public/js/components/primary-button.js" defer></script>
</head>
<body>
  <main class="container">
    <section class="product-list">
      
      <div class="card">
        <div class="product">
          <img class="product__image" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="product__information">
            <p class="product__name">Tomate</p>
            <p class="product__price">$3000</p>
            <button class="btn btn--primary">Comprar</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="product">
          <img class="product__image" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="product__information">
            <p class="product__name">Tomate</p>
            <p class="product__price">$3000</p>
            <button class="btn btn--primary">Comprar</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="product">
          <img class="product__image" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="product__information">
            <p class="product__name">Tomate</p>
            <p class="product__price">$3000</p>
            <button class="btn btn--primary">Comprar</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="product">
          <img class="product__image" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="product__information">
            <p class="product__name">Tomate</p>
            <p class="product__price">$3000</p>
            <button class="btn btn--primary">Comprar</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="product">
          <img class="product__image" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="product__information">
            <p class="product__name">Tomate</p>
            <p class="product__price">$3000</p>
            <button class="btn btn--primary">Comprar</button>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="product">
          <img class="product__image" src="/frontend/public/img/image.png" alt="imagen Tomate">
          <div class="product__information">
            <p class="product__name">Tomate</p>
            <p class="product__price">$3000</p>
            <button class="btn btn--primary">Comprar</button>
          </div>
        </div>
      </div>

    </section>
  </main>
</body>
</html>
