<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista tarjetas productos cliente</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script type="module"> import { loadCards } from "/frontend/public/js/components/card.js";
    document.addEventListener("DOMContentLoaded", () => {loadCards(".cards__container");});
  </script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/navbar_seller_view.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/payment_method.js" defer></script>
</head>
<body>
  <section>
    <!-- >>> Sección Navbar -->
    <nav class="navbar_seller_view">
      <div class="navbar-container"></div>
    </nav>
    <!-- >>> Sección Barra de busqueda -->
    <section class="seeker-products-cards-client">
      <div class="search-bar-container"></div>
    </section>
    <!-- >>> Sección Tarjetas de productos del cliente -->
    <section class="products-cards-client">
      <div class="cards__container"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-products-cards-client">
    <div class="footer-container"></div>
    </footer>
</body>
</html>


