<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista descripcion de productos clientes</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/description.js" defer></script>
  <script src="/frontend/public/js/components/navbar_product_description.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
      <!-- >>> Section Navbar -->
      <section class="navbar-product-description-client">
        <div class="navbar_product_description"></div>
      </section>
      <!-- >>> Sección Descripcion del producto del cliente -->
      <section class="description-product-client">
        <div class="description-container"></div>
      </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-description-product-client">
    <div class="footer-container"></div>
  </footer>
</body>
</html>




