<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/card.js" defer></script>
  <script src="/frontend/public/js/components/primary-button.js" defer></script>
  <script src="/frontend/public/js/components/secondary-button.js" defer></script>
  <script src="/frontend/public/views/Product.html" defer></script>
</head>
<body>
  <div class="card-container"></div>
  
  <div class="button-container"></div>

  <div class="secondary-button-container"></div>
</body>
  
</html>
