<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar_profile_client.js"></script> 
    <script src="/frontend/public/js/components/profile_client.js"></script> 
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Mi perfil</title>
</head>
<body>
    <section>
        <div class="navbar_profile_client"></div>
    </section>

    <main class="profile-client">
        <div class="client__container"></div>
    </main>




    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>