<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista perfil cliente</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/profile_user.js"></script>
  <script src="/frontend/public/js/components/navbar_profile_client.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Footer Navbar -->
    <nav class="navbar-view">
      <div class="navbar_profile_client"></div>
    </nav>
    <!-- >>> Section Perfil del cliente -->
    <section class="profile-client-view">
      <div class="user-profile-container"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-profile-client-view">
    <div class="footer-container"></div>
  </footer>
</body>
</html>