<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar_profile_store_seller.js"></script>
    <script src="/frontend/public/js/components/profile_store_seller.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Perfil de mi Tienda</title>
</head>
<body>
    <section>
        <div class="navbar_profile_store_seller"></div>
    </section>


    <main class="profile-store-seller">
        <div class="store_profile"></div>
    </main>


    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>