<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista perfil de mi tienda</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/navbar_profile_store_seller.js"></script>
    <script src="/frontend/public/js/components/profile_store_seller.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</head>
<body>
    <!-- >>> Sección CSS principal -->
    <nav class="navbar-profile-store-seller-view">
        <div class="navbar-profile-store-seller"></div>
    </nav>
    <!-- >>> Sección Perfil de la tienda -->
    <main class="profile-store-seller">
        <div class="store_profile"></div>
    </main>
    <!-- >>> Sección Footer -->
    <footer class="footer-profile-store-seller">
        <div class="footer-container"></div>
    </footer>
</body>
</html>