<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/components/publications_gestor.css">
    <script src="/frontend/public/js/components/publication_gestor.js" defer></script>
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <title>Gestión de publicaciones</title>
</head>
<body>
    <div class="publications-gestor"></div>
</body>
</html>