<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cantidad</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/option.js" defer></script>
  <script src="/frontend/public/js/components/quantity_input.js" defer></script>
  
</head>
<body>
  <!-- componente tipo de cantidad -->
  <section class= "type_quantity">
    <div class="option-container"></div>
  </section>

  <!-- componente de agregar cantidad (numerica)-->
  <section class= "how_much_quantity">
    <div class="quantity-input-container"></div>
  </section>
</body>
</html>

