<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cantidad</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/option.js" defer></script>
  <script src="/frontend/public/js/components/navbar.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <main>
    <section class="navabar-products">
      <div class="navbar-container"></div>
    </section>
    <!-- componente tipo de cantidad -->
    <section class= "type_quantity">
      <div class="option-container"></div>
    </section>
  </main>
  <footer class="footer-container"></footer>
  </section>
</body>
</html>



