<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <link rel="stylesheet" href="/frontend/public/css/components/registro.css"/>
    <script src="/frontend/public/js/components/registro.js" defer></script>
    <link rel="stylesheet" href="/frontend/public/css/variables.css"/>
</head>
<body>
    <div class="form-container">

    </div>   

    <script src="../js/pages/register.js"></script>
</body>
</html>
