<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista formulario de Registro</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_register.js" defer></script>
  <script src="/frontend/public/js/components/register.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navbar -->
    <nav class="nav-bar-register">
      <div class="navbar-container"></div>
    </nav>
    <!-- >>> Sección Formulario de registro -->
    <section class="form-register">
      <div class="form-container"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-form-register">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
