<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script src="/frontend/public/js/components/reset_password.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <title>Restablece la contraseña</title>
</head>
<body>
    <main>
        <section class="navbar-forgot-password">
            <div class="navbar_forgot_password"></div>
        </section>
        <div class="reset-password">
            <div class="reset-password"></div>
        </div>
        
    </main>
    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>


