<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/navbar_seller_view.js"></script>
    <script src="/frontend/public/js/components/search-bar.js"></script>
    <script src="/frontend/public/js/components/seller_view.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>

    <script type="module">
    import { loadCards } from "/frontend/public/js/components/card.js";
    document.addEventListener("DOMContentLoaded", () => { loadCards(".card-container"); });
    </script>
    <title>Mi Tienda</title>
</head>
<body>
    <section>
        <div class="navbar_seller_view"></div>
    </section>

    <section class="seeker">
        <div class="search-bar-container"></div>
    </section>

    <main class="seller-view">
        <div class="seller_view"></div>
    </main>

    <section class="cards-products">
      <div class="card-container"></div>
    </section>
    
    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>