<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista pedidos que tiene vendedor</title>
    <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/store-orders.js" ></script>
  <script src="/frontend/public/js/components/navbar_store_orders.js"></script>
  <script src="/frontend/public/js/components/footer.js"></script>
</head>
<body>
  <section>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-store-orders">
      <div class="navbar_store_orders"></div>
    </nav>
    <!-- >>> Sección CSS principal -->
    <section class="view-store-orders">
      <div class="store-orders-container"></div> 
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-store-orders">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
    


    