<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios - SENA MERCH</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/usuarios.css">
</head>
<body>
    <main class="usuarios-container">
        <h1>Usuarios</h1>

        <div class="usuarios-search">
            <input type="text" id="searchInput" placeholder="Buscar usuario">
            <button id="searchBtn">
                🔍
            </button>
        </div>
        <p class="search-info">Encontrarás con facilidad lo que buscas.</p>

        <section class="usuarios-table">
            <table>
                <thead>
                    <tr>
                        <th>#usuario</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Tipo de usuario</th>
                        <th>Departamento</th>
                        <th>Dirección</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="usuariosBody">
                    <tr>
                        <td>#1</td>
                        <td>Julian gil</td>
                        <td>juliangil@gmail.com</td>
                        <td>Común</td>
                        <td>Risaralda</td>
                        <td>Carrera 10#34-54</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#2</td>
                        <td>Sebastian valencia</td>
                        <td>juliangil@gmail.com</td>
                        <td>Común</td>
                        <td>Risaralda</td>
                        <td>Avenida 19 #34-36</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#3</td>
                        <td>Daniela arias</td>
                        <td>juliangil@gmail.com</td>
                        <td>Común</td>
                        <td>Quindío</td>
                        <td>Carrera 10#34-54</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#4</td>
                        <td>Victoria arias</td>
                        <td>juliangil@gmail.com</td>
                        <td>Transportador</td>
                        <td>Quindío</td>
                        <td>Avenida 19 #34-36</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#5</td>
                        <td>Stiven erazo</td>
                        <td>juliangil@gmail.com</td>
                        <td>Común</td>
                        <td>Quindío</td>
                        <td>Carrera 10#34-54</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#6</td>
                        <td>Juan ocampo</td>
                        <td>juliangil@gmail.com</td>
                        <td>Transportador</td>
                        <td>Caldas</td>
                        <td>Avenida 19 #34-36</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#7</td>
                        <td>Leon ruiz</td>
                        <td>juliangil@gmail.com</td>
                        <td>Común</td>
                        <td>Caldas</td>
                        <td>Carrera 10#34-54</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#8</td>
                        <td>Yuli saenz</td>
                        <td>juliangil@gmail.com</td>
                        <td>Común</td>
                        <td>Caldas</td>
                        <td>Avenida 19 #34-36</td>
                        <td>
                            <button class="disable-btn">Deshabilitar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <script src="../js/usuarios.js"></script>
</body>
</html>