<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista gestión de tiendas</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_managed_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/managed_store.js" defer></script>
  <script src="/frontend/public/js/components/navabar_go_go.js" defer></script>
  <script src="/frontend/public/js/components/footer_go_go.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <nav class="navbar-go-go">
      <div class="govco-container__one"></div>
    </nav>  
    <!-- >>> Sección Navbar -->
    <nav class="navbar-managed-admin">
      <div class="navbar-managed-admin-container"></div>
    </nav>
    <!-- >>> Sección Gestión de tiendas -->
    <section class="manage-admin-stores">
      <div class="managed-store-container"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-manage-admin-stores">
    <div class="footer-container"></div>
  </footer>
  <footer class="footer-index-view">
    <div class="govco-container__two"></div>
  </footer>
</body>
</html>