<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de compras</title>
  <!-- >>>  Sección CSS principal-->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes-->
  <script src="/frontend/public/js/components/shopping_cart.js" defer></script>
  <script src="/frontend/public/js/components/navbar_shopping_cart.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/option_payment_method.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navbar -->
    <nav class="navbar_shopping_cart">
      <div class="navbar-container-qqqq-qqq"></div>
    </nav>
    <!-- >>>  Sección main grid-->
    <article class="view_car_pay_method">
      <div class="car-pay-grid">
        <!-- >>>  Sección Carrito de compras-->
        <section class="car-buys">
          <div class="shopping-car-container"></div>
        </section>
        <!-- >>>  Sección Metodo de pago-->
        <section class="pay-method-product">
          <div class="payment-method-container"></div>
        </section>
      </div>
    </article>
  </section>
  <!-- >>>  Sección footer-->
  <footer class="footer-view-car-pay">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
