<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Formulario admin Tienda</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar.js"></script>
  <script src="/frontend/public/js/components/footer.js"></script>
  <script src="/frontend/public/js/components/store_admin_form_edit.js"></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navabar -->
    <nav class="navabr-view">
        <div class="navbar-container"></div>
    </nav>
    <!-- >>> Sección Formulario de administrador de la tienda -->
    <section class="store_admin">
      <div class="store-admin-form-edit"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-admin-store-form">
    <div class="footer-container"></div>
  </footer>
</body>
</html>