<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista gestión de publicaciones</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/form_images_product.js" defer></script>
    <script src="/frontend/public/js/components/navbar_publications_gestor.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</head>
<body>
    <section class="section-footer-content">
        <!-- >>> Sección Navbar -->
        <nav class="navbar-publications-gestor">
            <div class="navbar_publications_gestor"></div>
        </nav>
        <!-- >>> Sección Crear producto -->
        <section class="form_images_product_content">
            <div class="form-images-product-container"></div>
        </section>
    </section>
    <!-- >>> Sección Footer -->
    <footer class="footer-gestor-publication-one">
        <div class="footer-container"></div>
    </footer>
</body>
</html>