<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pasarela de Pago</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css" />
  <script src="/frontend/public/js/components/payment_gateway.js" defer></script>
  <script src="/frontend/public/js/components/navbar.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search-bar.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
</head>

<body>
  <main class="payment-layout">
    <!-- >>> Navbar -->
    <section class="navbar-payment-gateway">
      <div class="navbar-container"></div>
    </section>

    <!-- >>> Admin -->
    <section class="admin-dashboard">
      <div class="admin-container"></div>
    </section>

    <!-- >>> Search -->
    <section class="seeker">
      <div class="search-bar-container"></div>
    </section>

    <!-- >>> Payment Gateway -->
    <section class="payment-gateway-section">
      <div class="payment-gateway-container"></div>
    </section>
  </main>

  <!-- >>> Footer -->
  <footer class="footer-container"></footer>
</body>
</html>
