<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de publicaciones</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script src="/frontend/public/js/components/publications_gestor2.js" defer></script>
    <script src="/frontend/public/js/components/navbar_publications_gestor.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</head>
<body>
    
    <section class="navbar-publications-gestor">
        <div class="navbar_publications_gestor"></div>
    </section>
    <main class="gestor-piblications">
        <div class="publications-gestor-two"></div>
    </main>
    <section>
        <footer class="footer-container"></footer>
    </section>
</body>
</html>