<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista admin tiendas</title>
  <!-- Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- Sección JS de componentes -->
  <script src="/frontend/public/js/components/stores.js" defer></script>
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
  <script src="/frontend/public/js/components/navabar_go_go.js" defer></script>
  <script src="/frontend/public/js/components/footer_go_go.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <nav class="navbar-go-go">
      <div class="govco-container__one"></div>
    </nav>  
    <!-- >>> Sección Navbar -->
    <nav class="navbar-stores">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Contenedor principal en dos columnas -->
    <div class="content-stores">
      <!-- >>>  Sección Columna izquierda -->
      <section class="admin-dashboard">
        <div class="admin-container"></div>
      </section>
      <!-- >>>  Sección Columna derecha-->
      <div class="right-panel">
        <!-- >>>  Sección Barra de busqueda-->
        <section class="seeker">
          <div class="search-bar-container"></div>
        </section>
        <!-- >>>  Sección Tabla de tiendas-->
        <section class="stores">
          <div class="stores-container"></div>
        </section>
      </div>
    </div>
  </section>
  <!-- >>>  Sección footer-->
  <footer class="footer-admin-store">
    <div class="footer-container"></div>
  </footer>
  <footer class="footer-index-view">
    <div class="govco-container__two"></div>
  </footer>
</body>
</html>
