<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista gestión de ventas</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/managed_sales.js" defer></script>
</head>
<body>
  <main>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-admin">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Sección Gestión de ventas -->
    <section class="manage-admin-users">
      <div class="managed-sales-container"></div>
    </section>
  </main>
  <!-- >>> Sección Footer -->
  <footer class="footer-manage-admin-sales">
    <div class="footer-container"></div>
  </footer>
</body>
</html>