
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Vista tienda Vendedor</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/navbar_seller_view.js"></script>
    <script src="/frontend/public/js/components/search_bar.js"></script>
    <script src="/frontend/public/js/components/client_view.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <script src="/frontend/public/js/components/hero_seller.js" defer></script> 
    <script src="/frontend/public/js/components/publications_gestor6.js" defer></script>

</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navbar-->
    <nav class="navbar-seller-cards-view">
        <div class="navbar_seller_view"></div>
    </nav>
    <!-- >>> Sección Imagen principal de la tienda -->
    <section class="hero">
      <div class="hero-seller__container"></div>
    </section>
    <!-- >>> Sección Barra de busqueda -->
    <section class="seeker">
      <div class="search-bar-container"></div>
    </section>
    <!-- >>> Sección Tarjetas de productos de la tienda -->
    <section class="gestor-piblications">
        <div class="publications-gestor-six"></div>
    </section>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-seller-cards-view">
      <div class="footer-container"></div>
  </footer>
</body>
</html>

    
 