<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Pedidos </title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/order_admin.js" defer></script>
  <script src="/frontend/public/js/components/navbar.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search-bar.js" defer></script>
</head>
<body>
  <main>
    <!-- >>> Section Navbar -->
    <section class="navbar-order">
      <div class="navbar-container"></div>
    </section>

    <section class="seeker">
      <div class="search-bar-container"></div>
    </section>
    <!-- >>> Section order_admin -->
    <section class="order-0">
      <div class="order-0-container"></div>
    </section>
  </main>
  <!-- >>> Section Footer -->
  <footer class="footer-container"></footer>
</body>
</html>
