<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historial de Ventas</title>

  <!-- ================== CSS PRINCIPAL ================== -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">

  <!-- ================== COMPONENTES JS ================== -->
  <script src="/frontend/public/js/components/sales-history.js" defer></script>
  <script src="/frontend/public/js/components/navbar.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search-bar.js" defer></script>
</head>
<body>
  <main>
    <!-- ================== NAVBAR ================== -->
    <section class="navbar-products">
      <div class="navbar-container"></div>
    </section>
     <!-- >>> Section Search -->
    <section class="seeker">
      <div class="search-bar-container"></div>
    </section>


    <!-- ================== SALES HISTORY ================== -->
    <section class="sales-history-section">
      <div class="sales-history-container"></div>
    </section>
  </main>

  <!-- ================== FOOTER ================== -->
  <footer class="footer-container"></footer>
</body>
</html>
