<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista admin ventas</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS de componentes -->
  <script src="/frontend/public/js/components/sales_doc.js" defer></script>
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
</head>
<body>
  <section>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-sales-doc">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Sección Contenedor principal con 2 columnas -->
    <div class="content-sales-doc">
      <!-- >>> Sección Columna izquierda -->
      <section class="admin-dashboard">
        <div class="admin-container"></div>
      </section>
      <!-- >>> Sección Columna derecha-->
      <div class="right-panel">
        <!-- >>> Sección Barra de busqueda-->
        <section class="seeker">
          <div class="search-bar-container"></div>
        </section>
        <!-- >>> Sección Tabla de ventas-->
        <section class="sales-doc-section">
          <div class="sales-doc-container"></div>
        </section>
      </div>
    </div>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-admin-sales">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
