<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista editar producto</title>
    <!-- >>> Sección CSS principal -->
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- >>> Sección JS componentes -->
    <script src="/frontend/public/js/components/edit_post4.js" defer></script>
    <script src="/frontend/public/js/components/navbar_publications_gestor.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
    <script src="/frontend/public/js/components/navabar_go_go.js" defer></script>
    <script src="/frontend/public/js/components/footer_go_go.js" defer></script>
</head>
<body>
    <section class="section-footer-content">
        <nav class="navbar-go-go">
            <div class="govco-container__one"></div>
        </nav>  
        <!-- >>> Sección Navbar -->
        <nav class="navbar-publications-gestor">
            <div class="navbar_publications_gestor"></div>
        </nav>
        <!-- >>> Sección Editar producto -->
        <section class="gestor-edit-post">
            <div class="edit-post-four"></div>
        </section>
    </section>
    <!-- >>> Sección Footer -->
    <footer class="footer-gestor-edit-product-one">
        <div class="footer-container"></div>
    </footer>
    <footer class="footer-index-view">
        <div class="govco-container__two"></div>
    </footer> 
</body>
</html>