<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista admin pasarela de pago</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/posts.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
</head>
<body>
  <section>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-posts">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Sección Contenedor principal con dos columnas -->
    <div class="content-seeker-and-posts">
      <!-- >>> Sección Columna izquierda -->
      <section class="admin-dashboard">
        <div class="admin-container"></div>
      </section>
      <!-- >>> Sección Columna derecha -->
      <div class="right-panel">
        <!-- >>> Sección Barra de bsuqueda -->
        <section class="seeker">
          <div class="search-bar-container"></div>
        </section>
        <!-- >>> Sección Tabla pasarela de pago -->
        <section class="posts-section">
          <div class="posts-container"></div>
        </section>
      </div>
    </div>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-views-admin-post">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
