<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar dirección</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/add_adress_seller_edit.js" defer></script>
  <script src="/frontend/public/js/components/navbar_profile_store_seller.js"></script>
  <script src="/frontend/public/js/components/footer.js"></script>
  <script src="/frontend/public/js/components/navabar_go_go.js" defer></script>
  <script src="/frontend/public/js/components/footer_go_go.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <nav class="navbar-go-go">
      <div class="govco-container__one"></div>
    </nav>  
    <!-- >>> Sección Navbar -->
    <nav class="navbar-profile-store-seller-view">
        <div class="navbar-profile-store-seller"></div>
    </nav>
    <!-- >>> Sección Agregar la dirección-->
    <section class="adress">
      <div class="add-adress-seller-edit"></div>
    </section>
  </section>
  <!-- >>> Sección Footer-->
  <section class="footer-add-adress">
      <footer class="footer-container"></footer>
  </section>
  <footer class="footer-index-view">
    <div class="govco-container__two"></div>
  </footer>
</body>
</html>

