<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista admin productos</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección JS componentes -->
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/products.js" defer></script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
</head>
<body>
  <section>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-products">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Sección Contenedor con dos columnas -->
    <div class="content-seeker-and-products">
      <!-- Sección Columna izquierda -->
      <section class="admin-dashboard">
        <div class="admin-container"></div>
      </section>

      <!-- Sección Columna derecha -->
      <div class="right-panel">
        <!-- >>> Sección Barra de busqueda-->
        <section class="seeker">
          <div class="search-bar-container"></div>
        </section>
        <!-- >>> Sección Tabla de productos -->
        <section class="products-section">
          <div class="products-container"></div>
        </section>
      </div>
    </div>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-admin-products">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
