<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar dirección</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/navbar.js"></script>
  <script src="/frontend/public/js/components/footer.js"></script>
  <script src="/frontend/public/js/components/store_admin_form.js"></script>
</head>
<body>
  <main>
    <section class="navabr-view">
        <div class="navbar-container"></div>
    </section>
    <section class="store_admin">
      <div class="store-admin-form"></div>
    </section>
  </main>

  <section>
      <footer class="footer-container"></footer>
  </section>
</body>
</html>