<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista admin pedidos</title>
  <!-- >>> Sección CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- >>> Sección  JS de componentes -->
  <script src="/frontend/public/js/components/order_admin.js" defer></script>
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
</head>
<body>
  <main>
    <!-- >>> Sección Navbar -->
    <nav class="navbar-order">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Sección Contenedor principal con 2 columnas -->
    <div class="content-orders">
      <!-- Sección Administrador -->
      <section class="admin-dashboard">
        <div class="admin-container"></div>
      </section>
      <!-- Sección Columna derecha -->
      <div class="right-panel">
        <!-- Sección Barra de busqueda -->
        <section class="seeker">
          <div class="search-bar-container"></div>
        </section>
        <!-- Sección Tabla de pedidos -->
        <section class="order-0">
          <div class="order-table-container"></div>
        </section>
      </div>
    </div>
  </main>
  <!-- >>> Sección Footer -->
  <footer class="footer-admin-orders">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
