<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Descripcion de Productos</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <script src="/frontend/public/js/components/description_product_seller.js" defer></script>
  <script src="/frontend/public/js/components/navbar_profile_store_seller.js"></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <main>
    <!-- >>> Section Navbar -->
    <section>
      <div class="navbar_profile_store_seller"></div>
    </section>
    <!-- >>> Section Descripcion de la card -->
    <section class="description-product">
      <div class="description-seller-container"></div>
    </section>
  </main>
  <!-- >>> Section Footer -->
  <footer class="footer-container"></footer>
</body>
</html>
<section>
          





