<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista admin Usuarios</title>
  <!-- CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <!-- JS de componentes -->
  <script src="/frontend/public/js/components/users.js" defer></script>
  <script src="/frontend/public/js/components/navbar_admin.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
  <script src="/frontend/public/js/components/search_bar.js" defer></script>
  <script src="/frontend/public/js/components/admin.js" defer></script>
</head>
<body>
  <section class="section-footer-content">
    <!-- >>> Sección Navbar -->
    <nav class="navbar-viewn">
      <div class="navbar-admin-container"></div>
    </nav>
    <!-- >>> Sección de dos columnas principales -->
    <div class="content-seeker-and-users">
      <!-- >>> Sección Administrador -->
      <section class="admin-dashboard">
        <div class="admin-container"></div>
      </section>
      <!-- >>> Sección de columna derecha: Buscador y usuarios -->
      <div class="right-panel">
        <!-- Sección Barra de busqueda-->
        <section class="seeker">
          <div class="search-bar-container"></div>
        </section>
        <!-- Sección de tabla de usuarios-->
        <section class="view_users_admin">
          <div class="users-container"></div>
        </section>
      </div>
    </div>
  </section>
  <!-- >>> Sección Footer -->
  <footer class="footer-views-users-admin">
    <div class="footer-container"></div>
  </footer>
</body>
</html>
